e2e/golden/positions-feed.flow.yaml
id: positions-feed
namespace: dataflow
labels:
  dataflow.version: "1"
concurrency:
  behavior: QUEUE
  limit: 1
tasks:
  - id: engine_runner
    type: io.kestra.plugin.scripts.shell.Commands
    taskRunner:
      type: io.kestra.plugin.scripts.runner.docker.Docker
      networkMode: dataflow_default
      pullPolicy: IF_NOT_PRESENT
    containerImage: apache/hop:2.18.1
    env:
      RUN_ID: "{{ execution.id }}"
      BUSINESS_DATE: "{{ execution.startDate | date('yyyy-MM-dd') }}"
      HOP_OPTIONS: "-XX:+AggressiveHeap -DHOP_MINIO_ENDPOINT_HOSTNAME=minio -DHOP_MINIO_ENDPOINT_PORT=9000 -DHOP_MINIO_ACCESS_KEY={{ secret('MINIO_ACCESS_KEY') }} -DHOP_MINIO_SECRET_KEY={{ secret('MINIO_SECRET_KEY') }}"
    inputFiles:
      positions-feed.hpl: |
        <?xml version="1.0" encoding="UTF-8"?>
        <pipeline>
          <info>
            <name>positions-feed</name>
            <name_sync_with_filename>Y</name_sync_with_filename>
            <description>The positions-feed Dataflow's engine pipeline, compiled from its Execution Plan</description>
            <extended_description/>
            <pipeline_version/>
            <pipeline_type>Normal</pipeline_type>
            <pipeline_status>0</pipeline_status>
            <parameters>
              <parameter>
                <name>BUSINESS_DATE</name>
                <default_value/>
                <description>The Business Date the produced files are as-of; resolved into every file name</description>
              </parameter>
              <parameter>
                <name>OUT_DIR</name>
                <default_value>/tmp/positions-feed-out</default_value>
                <description>Local folder the files are produced into before staging (direct minio:// output is broken in Hop 2.18.1)</description>
              </parameter>
              <parameter>
                <name>RUN_ID</name>
                <default_value/>
                <description>The Run identifier (the Kestra execution id); names the staging folder</description>
              </parameter>
            </parameters>
            <capture_transform_performance>N</capture_transform_performance>
            <transform_performance_capturing_delay>1000</transform_performance_capturing_delay>
            <transform_performance_capturing_size_limit>100</transform_performance_capturing_size_limit>
            <created_user>-</created_user>
            <created_date>1970/01/01 00:00:00.000</created_date>
            <modified_user>-</modified_user>
            <modified_date>1970/01/01 00:00:00.000</modified_date>
          </info>
          <notepads/>
          <order>
            <hop>
              <from>positions: seed page 1</from>
              <to>positions: probe page 1</to>
              <enabled>Y</enabled>
            </hop>
            <hop>
              <from>positions: probe page 1</from>
              <to>positions: read totalPages</to>
              <enabled>Y</enabled>
            </hop>
            <hop>
              <from>positions: read totalPages</from>
              <to>positions: one row per page</to>
              <enabled>Y</enabled>
            </hop>
            <hop>
              <from>positions: one row per page</from>
              <to>positions: number the pages</to>
              <enabled>Y</enabled>
            </hop>
            <hop>
              <from>positions: number the pages</from>
              <to>positions: keep real pages</to>
              <enabled>Y</enabled>
            </hop>
            <hop>
              <from>positions: keep real pages</from>
              <to>positions: page url</to>
              <enabled>Y</enabled>
            </hop>
            <hop>
              <from>positions: page url</from>
              <to>positions: fetch every page</to>
              <enabled>Y</enabled>
            </hop>
            <hop>
              <from>positions: fetch every page</from>
              <to>positions: parse rows</to>
              <enabled>Y</enabled>
            </hop>
            <hop>
              <from>positions: parse rows</from>
              <to>positions: project fields</to>
              <enabled>Y</enabled>
            </hop>
            <hop>
              <from>positions: keep real pages</from>
              <to>positions: discard the probe row</to>
              <enabled>Y</enabled>
            </hop>
            <hop>
              <from>positions: project fields</from>
              <to>positions: sort for merge</to>
              <enabled>Y</enabled>
            </hop>
            <hop>
              <from>investors: seed page 1</from>
              <to>investors: probe page 1</to>
              <enabled>Y</enabled>
            </hop>
            <hop>
              <from>investors: probe page 1</from>
              <to>investors: read totalPages</to>
              <enabled>Y</enabled>
            </hop>
            <hop>
              <from>investors: read totalPages</from>
              <to>investors: one row per page</to>
              <enabled>Y</enabled>
            </hop>
            <hop>
              <from>investors: one row per page</from>
              <to>investors: number the pages</to>
              <enabled>Y</enabled>
            </hop>
            <hop>
              <from>investors: number the pages</from>
              <to>investors: keep real pages</to>
              <enabled>Y</enabled>
            </hop>
            <hop>
              <from>investors: keep real pages</from>
              <to>investors: page url</to>
              <enabled>Y</enabled>
            </hop>
            <hop>
              <from>investors: page url</from>
              <to>investors: fetch every page</to>
              <enabled>Y</enabled>
            </hop>
            <hop>
              <from>investors: fetch every page</from>
              <to>investors: parse rows</to>
              <enabled>Y</enabled>
            </hop>
            <hop>
              <from>investors: parse rows</from>
              <to>investors: project fields</to>
              <enabled>Y</enabled>
            </hop>
            <hop>
              <from>investors: keep real pages</from>
              <to>investors: discard the probe row</to>
              <enabled>Y</enabled>
            </hop>
            <hop>
              <from>investors: project fields</from>
              <to>investors: sort for merge</to>
              <enabled>Y</enabled>
            </hop>
            <hop>
              <from>orders: seed page 1</from>
              <to>orders: probe page 1</to>
              <enabled>Y</enabled>
            </hop>
            <hop>
              <from>orders: probe page 1</from>
              <to>orders: read totalPages</to>
              <enabled>Y</enabled>
            </hop>
            <hop>
              <from>orders: read totalPages</from>
              <to>orders: one row per page</to>
              <enabled>Y</enabled>
            </hop>
            <hop>
              <from>orders: one row per page</from>
              <to>orders: number the pages</to>
              <enabled>Y</enabled>
            </hop>
            <hop>
              <from>orders: number the pages</from>
              <to>orders: keep real pages</to>
              <enabled>Y</enabled>
            </hop>
            <hop>
              <from>orders: keep real pages</from>
              <to>orders: page url</to>
              <enabled>Y</enabled>
            </hop>
            <hop>
              <from>orders: page url</from>
              <to>orders: fetch every page</to>
              <enabled>Y</enabled>
            </hop>
            <hop>
              <from>orders: fetch every page</from>
              <to>orders: parse rows</to>
              <enabled>Y</enabled>
            </hop>
            <hop>
              <from>orders: parse rows</from>
              <to>orders: project fields</to>
              <enabled>Y</enabled>
            </hop>
            <hop>
              <from>orders: keep real pages</from>
              <to>orders: discard the probe row</to>
              <enabled>Y</enabled>
            </hop>
            <hop>
              <from>orders: project fields</from>
              <to>orders: sort for merge</to>
              <enabled>Y</enabled>
            </hop>
            <hop>
              <from>orders: sort for merge</from>
              <to>orders: keep the latest per key</to>
              <enabled>Y</enabled>
            </hop>
            <hop>
              <from>positions: sort for merge</from>
              <to>merge investors</to>
              <enabled>Y</enabled>
            </hop>
            <hop>
              <from>investors: sort for merge</from>
              <to>merge investors</to>
              <enabled>Y</enabled>
            </hop>
            <hop>
              <from>merge investors</from>
              <to>sort for the orders merge</to>
              <enabled>Y</enabled>
            </hop>
            <hop>
              <from>sort for the orders merge</from>
              <to>merge orders</to>
              <enabled>Y</enabled>
            </hop>
            <hop>
              <from>orders: keep the latest per key</from>
              <to>merge orders</to>
              <enabled>Y</enabled>
            </hop>
            <hop>
              <from>merge orders</from>
              <to>filter by Clients</to>
              <enabled>Y</enabled>
            </hop>
            <hop>
              <from>filter by Clients</from>
              <to>selected Clients</to>
              <enabled>Y</enabled>
            </hop>
            <hop>
              <from>filter by Clients</from>
              <to>other Clients</to>
              <enabled>Y</enabled>
            </hop>
            <hop>
              <from>selected Clients</from>
              <to>resolve run context</to>
              <enabled>Y</enabled>
            </hop>
            <hop>
              <from>resolve run context</from>
              <to>positions-by-asset-class: sort delivered rows</to>
              <enabled>Y</enabled>
            </hop>
            <hop>
              <from>positions-by-asset-class: sort delivered rows</from>
              <to>positions-by-asset-class: file name parts</to>
              <enabled>Y</enabled>
            </hop>
            <hop>
              <from>positions-by-asset-class: file name parts</from>
              <to>positions-by-asset-class: file name</to>
              <enabled>Y</enabled>
            </hop>
            <hop>
              <from>positions-by-asset-class: file name</from>
              <to>write positions-by-asset-class</to>
              <enabled>Y</enabled>
            </hop>
          </order>
          <transform>
            <name>positions: seed page 1</name>
            <type>RowGenerator</type>
            <description/>
            <distribute>Y</distribute>
            <custom_distribution/>
            <copies>1</copies>
            <partitioning>
              <method>none</method>
              <schema_name/>
            </partitioning>
            <fields>
              <field>
                <currency/>
                <decimal/>
                <format/>
                <group/>
                <length>-1</length>
                <name>pageUrlBase</name>
                <precision>-1</precision>
                <set_empty_string>N</set_empty_string>
                <type>String</type>
                <nullif>http://wiremock:8080/positions?page=</nullif>
              </field>
              <field>
                <currency/>
                <decimal/>
                <format/>
                <group/>
                <length>-1</length>
                <name>pageUrlSuffix</name>
                <precision>-1</precision>
                <set_empty_string>N</set_empty_string>
                <type>String</type>
                <nullif>&amp;pageSize=50</nullif>
              </field>
            </fields>
            <interval_in_ms>5000</interval_in_ms>
            <last_time_field>FiveSecondsAgo</last_time_field>
            <never_ending>N</never_ending>
            <limit>1</limit>
            <row_time_field>now</row_time_field>
            <attributes/>
            <GUI>
              <xloc>96</xloc>
              <yloc>96</yloc>
            </GUI>
          </transform>
          <transform>
            <name>positions: probe page 1</name>
            <type>Rest</type>
            <description/>
            <distribute>Y</distribute>
            <custom_distribution/>
            <copies>1</copies>
            <partitioning>
              <method>none</method>
              <schema_name/>
            </partitioning>
            <applicationType>TEXT PLAIN</applicationType>
            <method>GET</method>
            <url>http://wiremock:8080/positions?page=1&amp;pageSize=50</url>
            <urlInField>N</urlInField>
            <dynamicMethod>N</dynamicMethod>
            <methodFieldName/>
            <urlField></urlField>
            <bodyField/>
            <httpLogin/>
            <httpPassword>Encrypted </httpPassword>
            <proxyHost/>
            <proxyPort/>
            <preemptive>N</preemptive>
            <trustStoreFile/>
            <trustStorePassword>Encrypted </trustStorePassword>
            <ignoreSsl>N</ignoreSsl>
            <headers>
              </headers>
            <parameters>
              </parameters>
            <matrixParameters>
              </matrixParameters>
            <result>
              <name>envelope</name>
              <code/>
              <response_time/>
              <response_header/>
            </result>
            <attributes/>
            <GUI>
              <xloc>272</xloc>
              <yloc>96</yloc>
            </GUI>
          </transform>
          <transform>
            <name>positions: read totalPages</name>
            <type>JsonInput</type>
            <description/>
            <distribute>Y</distribute>
            <custom_distribution/>
            <copies>1</copies>
            <partitioning>
              <method>none</method>
              <schema_name/>
            </partitioning>
            <include>N</include>
            <include_field/>
            <rownum>N</rownum>
            <addresultfile>N</addresultfile>
            <readurl>N</readurl>
            <removeSourceField>Y</removeSourceField>
            <IsIgnoreEmptyFile>N</IsIgnoreEmptyFile>
            <doNotFailIfNoFile>N</doNotFailIfNoFile>
            <ignoreMissingPath>N</ignoreMissingPath>
            <defaultPathLeafToNull>N</defaultPathLeafToNull>
            <rownum_field/>
            <file>
              <name/>
              <filemask/>
              <exclude_filemask/>
              <file_required>N</file_required>
              <include_subfolders>N</include_subfolders>
            </file>
            <fields>
              <field>
                <name>totalPages</name>
                <path>$.totalPages</path>
                <type>Integer</type>
                <format/>
                <currency/>
                <decimal/>
                <group/>
                <length>-1</length>
                <precision>-1</precision>
                <trim_type>none</trim_type>
                <repeat>N</repeat>
              </field>
            </fields>
            <limit>0</limit>
            <IsInFields>Y</IsInFields>
            <IsAFile>N</IsAFile>
            <valueField>envelope</valueField>
            <shortFileFieldName/>
            <pathFieldName/>
            <hiddenFieldName/>
            <lastModificationTimeFieldName/>
            <uriNameFieldName/>
            <rootUriNameFieldName/>
            <extensionFieldName/>
            <sizeFieldName/>
            <attributes/>
            <GUI>
              <xloc>448</xloc>
              <yloc>96</yloc>
            </GUI>
          </transform>
          <transform>
            <name>positions: one row per page</name>
            <type>CloneRow</type>
            <description/>
            <distribute>Y</distribute>
            <custom_distribution/>
            <copies>1</copies>
            <partitioning>
              <method>none</method>
              <schema_name/>
            </partitioning>
            <nrclones>0</nrclones>
            <addcloneflag>N</addcloneflag>
            <cloneflagfield/>
            <nrcloneinfield>Y</nrcloneinfield>
            <nrclonefield>totalPages</nrclonefield>
            <addclonenum>N</addclonenum>
            <clonenumfield/>
            <attributes/>
            <GUI>
              <xloc>624</xloc>
              <yloc>96</yloc>
            </GUI>
          </transform>
          <transform>
            <name>positions: number the pages</name>
            <type>Sequence</type>
            <description/>
            <distribute>Y</distribute>
            <custom_distribution/>
            <copies>1</copies>
            <partitioning>
              <method>none</method>
              <schema_name/>
            </partitioning>
            <counter_name>positions_page</counter_name>
            <use_counter>Y</use_counter>
            <use_database>N</use_database>
            <increment_by>1</increment_by>
            <max_value>999999999</max_value>
            <schema/>
            <seqname>SEQ_</seqname>
            <start_at>0</start_at>
            <valuename>page</valuename>
            <attributes/>
            <GUI>
              <xloc>800</xloc>
              <yloc>96</yloc>
            </GUI>
          </transform>
          <transform>
            <name>positions: keep real pages</name>
            <type>FilterRows</type>
            <description/>
            <distribute>Y</distribute>
            <custom_distribution/>
            <copies>1</copies>
            <partitioning>
              <method>none</method>
              <schema_name/>
            </partitioning>
            <send_true_to>positions: page url</send_true_to>
            <send_false_to>positions: discard the probe row</send_false_to>
            <compare>
              <condition>
                <negated>N</negated>
                <leftvalue>page</leftvalue>
                <function>&gt;</function>
                <rightvalue/>
                <value>
                  <name>constant</name>
                  <type>Integer</type>
                  <text>0</text>
                  <length>-1</length>
                  <precision>0</precision>
                  <isnull>N</isnull>
                  <mask>####0;-####0</mask>
                </value>
              </condition>
            </compare>
            <attributes/>
            <GUI>
              <xloc>976</xloc>
              <yloc>96</yloc>
            </GUI>
          </transform>
          <transform>
            <name>positions: discard the probe row</name>
            <type>Dummy</type>
            <description/>
            <distribute>Y</distribute>
            <custom_distribution/>
            <copies>1</copies>
            <partitioning>
              <method>none</method>
              <schema_name/>
            </partitioning>
            <attributes/>
            <GUI>
              <xloc>976</xloc>
              <yloc>160</yloc>
            </GUI>
          </transform>
          <transform>
            <name>positions: page url</name>
            <type>ConcatFields</type>
            <description/>
            <distribute>Y</distribute>
            <custom_distribution/>
            <copies>1</copies>
            <partitioning>
              <method>none</method>
              <schema_name/>
            </partitioning>
            <ConcatFields>
              <removeSelectedFields>N</removeSelectedFields>
              <targetFieldLength>0</targetFieldLength>
              <targetFieldName>pageUrl</targetFieldName>
            </ConcatFields>
            <enclosure/>
            <fields>
              <field>
                <currency/>
                <decimal/>
                <format></format>
                <group/>
                <length>-1</length>
                <name>pageUrlBase</name>
                <nullif/>
                <precision>-1</precision>
                <trim_type>none</trim_type>
                <type>String</type>
              </field>
              <field>
                <currency/>
                <decimal/>
                <format>0</format>
                <group/>
                <length>-1</length>
                <name>page</name>
                <nullif/>
                <precision>-1</precision>
                <trim_type>none</trim_type>
                <type>Integer</type>
              </field>
              <field>
                <currency/>
                <decimal/>
                <format></format>
                <group/>
                <length>-1</length>
                <name>pageUrlSuffix</name>
                <nullif/>
                <precision>-1</precision>
                <trim_type>none</trim_type>
                <type>String</type>
              </field>
            </fields>
            <separator/>
            <attributes/>
            <GUI>
              <xloc>1152</xloc>
              <yloc>96</yloc>
            </GUI>
          </transform>
          <transform>
            <name>positions: fetch every page</name>
            <type>Rest</type>
            <description/>
            <distribute>Y</distribute>
            <custom_distribution/>
            <copies>1</copies>
            <partitioning>
              <method>none</method>
              <schema_name/>
            </partitioning>
            <applicationType>TEXT PLAIN</applicationType>
            <method>GET</method>
            <url/>
            <urlInField>Y</urlInField>
            <dynamicMethod>N</dynamicMethod>
            <methodFieldName/>
            <urlField>pageUrl</urlField>
            <bodyField/>
            <httpLogin/>
            <httpPassword>Encrypted </httpPassword>
            <proxyHost/>
            <proxyPort/>
            <preemptive>N</preemptive>
            <trustStoreFile/>
            <trustStorePassword>Encrypted </trustStorePassword>
            <ignoreSsl>N</ignoreSsl>
            <headers>
              </headers>
            <parameters>
              </parameters>
            <matrixParameters>
              </matrixParameters>
            <result>
              <name>pageBody</name>
              <code/>
              <response_time/>
              <response_header/>
            </result>
            <attributes/>
            <GUI>
              <xloc>1328</xloc>
              <yloc>96</yloc>
            </GUI>
          </transform>
          <transform>
            <name>positions: parse rows</name>
            <type>JsonInput</type>
            <description/>
            <distribute>Y</distribute>
            <custom_distribution/>
            <copies>1</copies>
            <partitioning>
              <method>none</method>
              <schema_name/>
            </partitioning>
            <include>N</include>
            <include_field/>
            <rownum>N</rownum>
            <addresultfile>N</addresultfile>
            <readurl>N</readurl>
            <removeSourceField>Y</removeSourceField>
            <IsIgnoreEmptyFile>N</IsIgnoreEmptyFile>
            <doNotFailIfNoFile>N</doNotFailIfNoFile>
            <ignoreMissingPath>N</ignoreMissingPath>
            <defaultPathLeafToNull>N</defaultPathLeafToNull>
            <rownum_field/>
            <file>
              <name/>
              <filemask/>
              <exclude_filemask/>
              <file_required>N</file_required>
              <include_subfolders>N</include_subfolders>
            </file>
            <fields>
              <field>
                <name>investorId</name>
                <path>$.data[*].investorId</path>
                <type>String</type>
                <format/>
                <currency/>
                <decimal/>
                <group/>
                <length>-1</length>
                <precision>-1</precision>
                <trim_type>none</trim_type>
                <repeat>N</repeat>
              </field>
              <field>
                <name>symbol</name>
                <path>$.data[*].symbol</path>
                <type>String</type>
                <format/>
                <currency/>
                <decimal/>
                <group/>
                <length>-1</length>
                <precision>-1</precision>
                <trim_type>none</trim_type>
                <repeat>N</repeat>
              </field>
              <field>
                <name>assetClass</name>
                <path>$.data[*].assetClass</path>
                <type>String</type>
                <format/>
                <currency/>
                <decimal/>
                <group/>
                <length>-1</length>
                <precision>-1</precision>
                <trim_type>none</trim_type>
                <repeat>N</repeat>
              </field>
              <field>
                <name>quantity</name>
                <path>$.data[*].quantity</path>
                <type>String</type>
                <format/>
                <currency/>
                <decimal/>
                <group/>
                <length>-1</length>
                <precision>-1</precision>
                <trim_type>none</trim_type>
                <repeat>N</repeat>
              </field>
              <field>
                <name>marketValue</name>
                <path>$.data[*].marketValue</path>
                <type>String</type>
                <format/>
                <currency/>
                <decimal/>
                <group/>
                <length>-1</length>
                <precision>-1</precision>
                <trim_type>none</trim_type>
                <repeat>N</repeat>
              </field>
              <field>
                <name>currency</name>
                <path>$.data[*].currency</path>
                <type>String</type>
                <format/>
                <currency/>
                <decimal/>
                <group/>
                <length>-1</length>
                <precision>-1</precision>
                <trim_type>none</trim_type>
                <repeat>N</repeat>
              </field>
            </fields>
            <limit>0</limit>
            <IsInFields>Y</IsInFields>
            <IsAFile>N</IsAFile>
            <valueField>pageBody</valueField>
            <shortFileFieldName/>
            <pathFieldName/>
            <hiddenFieldName/>
            <lastModificationTimeFieldName/>
            <uriNameFieldName/>
            <rootUriNameFieldName/>
            <extensionFieldName/>
            <sizeFieldName/>
            <attributes/>
            <GUI>
              <xloc>1504</xloc>
              <yloc>96</yloc>
            </GUI>
          </transform>
          <transform>
            <name>positions: project fields</name>
            <type>SelectValues</type>
            <description/>
            <distribute>Y</distribute>
            <custom_distribution/>
            <copies>1</copies>
            <partitioning>
              <method>none</method>
              <schema_name/>
            </partitioning>
            <fields>
              <field>
                <name>investorId</name>
                <rename/>
              </field>
              <field>
                <name>symbol</name>
                <rename/>
              </field>
              <field>
                <name>assetClass</name>
                <rename/>
              </field>
              <field>
                <name>quantity</name>
                <rename/>
              </field>
              <field>
                <name>marketValue</name>
                <rename/>
              </field>
              <field>
                <name>currency</name>
                <rename/>
              </field>
              <select_unspecified>N</select_unspecified>
            </fields>
            <attributes/>
            <GUI>
              <xloc>1680</xloc>
              <yloc>96</yloc>
            </GUI>
          </transform>
          <transform>
            <name>positions: sort for merge</name>
            <type>SortRows</type>
            <description/>
            <distribute>Y</distribute>
            <custom_distribution/>
            <copies>1</copies>
            <partitioning>
              <method>none</method>
              <schema_name/>
            </partitioning>
            <directory>${java.io.tmpdir}</directory>
            <prefix>out</prefix>
            <sort_size>5000</sort_size>
            <free_memory/>
            <compress>N</compress>
            <compress_variable/>
            <unique_rows>N</unique_rows>
            <fields>
              <field>
                <name>investorId</name>
                <ascending>Y</ascending>
                <case_sensitive>Y</case_sensitive>
                <collator_enabled>N</collator_enabled>
                <collator_strength>0</collator_strength>
                <presorted>N</presorted>
              </field>
            </fields>
            <attributes/>
            <GUI>
              <xloc>1856</xloc>
              <yloc>96</yloc>
            </GUI>
          </transform>
          <transform>
            <name>investors: seed page 1</name>
            <type>RowGenerator</type>
            <description/>
            <distribute>Y</distribute>
            <custom_distribution/>
            <copies>1</copies>
            <partitioning>
              <method>none</method>
              <schema_name/>
            </partitioning>
            <fields>
              <field>
                <currency/>
                <decimal/>
                <format/>
                <group/>
                <length>-1</length>
                <name>pageUrlBase</name>
                <precision>-1</precision>
                <set_empty_string>N</set_empty_string>
                <type>String</type>
                <nullif>http://wiremock:8080/investors?page=</nullif>
              </field>
              <field>
                <currency/>
                <decimal/>
                <format/>
                <group/>
                <length>-1</length>
                <name>pageUrlSuffix</name>
                <precision>-1</precision>
                <set_empty_string>N</set_empty_string>
                <type>String</type>
                <nullif>&amp;pageSize=4</nullif>
              </field>
            </fields>
            <interval_in_ms>5000</interval_in_ms>
            <last_time_field>FiveSecondsAgo</last_time_field>
            <never_ending>N</never_ending>
            <limit>1</limit>
            <row_time_field>now</row_time_field>
            <attributes/>
            <GUI>
              <xloc>96</xloc>
              <yloc>224</yloc>
            </GUI>
          </transform>
          <transform>
            <name>investors: probe page 1</name>
            <type>Rest</type>
            <description/>
            <distribute>Y</distribute>
            <custom_distribution/>
            <copies>1</copies>
            <partitioning>
              <method>none</method>
              <schema_name/>
            </partitioning>
            <applicationType>TEXT PLAIN</applicationType>
            <method>GET</method>
            <url>http://wiremock:8080/investors?page=1&amp;pageSize=4</url>
            <urlInField>N</urlInField>
            <dynamicMethod>N</dynamicMethod>
            <methodFieldName/>
            <urlField></urlField>
            <bodyField/>
            <httpLogin/>
            <httpPassword>Encrypted </httpPassword>
            <proxyHost/>
            <proxyPort/>
            <preemptive>N</preemptive>
            <trustStoreFile/>
            <trustStorePassword>Encrypted </trustStorePassword>
            <ignoreSsl>N</ignoreSsl>
            <headers>
              </headers>
            <parameters>
              </parameters>
            <matrixParameters>
              </matrixParameters>
            <result>
              <name>envelope</name>
              <code/>
              <response_time/>
              <response_header/>
            </result>
            <attributes/>
            <GUI>
              <xloc>272</xloc>
              <yloc>224</yloc>
            </GUI>
          </transform>
          <transform>
            <name>investors: read totalPages</name>
            <type>JsonInput</type>
            <description/>
            <distribute>Y</distribute>
            <custom_distribution/>
            <copies>1</copies>
            <partitioning>
              <method>none</method>
              <schema_name/>
            </partitioning>
            <include>N</include>
            <include_field/>
            <rownum>N</rownum>
            <addresultfile>N</addresultfile>
            <readurl>N</readurl>
            <removeSourceField>Y</removeSourceField>
            <IsIgnoreEmptyFile>N</IsIgnoreEmptyFile>
            <doNotFailIfNoFile>N</doNotFailIfNoFile>
            <ignoreMissingPath>N</ignoreMissingPath>
            <defaultPathLeafToNull>N</defaultPathLeafToNull>
            <rownum_field/>
            <file>
              <name/>
              <filemask/>
              <exclude_filemask/>
              <file_required>N</file_required>
              <include_subfolders>N</include_subfolders>
            </file>
            <fields>
              <field>
                <name>totalPages</name>
                <path>$.totalPages</path>
                <type>Integer</type>
                <format/>
                <currency/>
                <decimal/>
                <group/>
                <length>-1</length>
                <precision>-1</precision>
                <trim_type>none</trim_type>
                <repeat>N</repeat>
              </field>
            </fields>
            <limit>0</limit>
            <IsInFields>Y</IsInFields>
            <IsAFile>N</IsAFile>
            <valueField>envelope</valueField>
            <shortFileFieldName/>
            <pathFieldName/>
            <hiddenFieldName/>
            <lastModificationTimeFieldName/>
            <uriNameFieldName/>
            <rootUriNameFieldName/>
            <extensionFieldName/>
            <sizeFieldName/>
            <attributes/>
            <GUI>
              <xloc>448</xloc>
              <yloc>224</yloc>
            </GUI>
          </transform>
          <transform>
            <name>investors: one row per page</name>
            <type>CloneRow</type>
            <description/>
            <distribute>Y</distribute>
            <custom_distribution/>
            <copies>1</copies>
            <partitioning>
              <method>none</method>
              <schema_name/>
            </partitioning>
            <nrclones>0</nrclones>
            <addcloneflag>N</addcloneflag>
            <cloneflagfield/>
            <nrcloneinfield>Y</nrcloneinfield>
            <nrclonefield>totalPages</nrclonefield>
            <addclonenum>N</addclonenum>
            <clonenumfield/>
            <attributes/>
            <GUI>
              <xloc>624</xloc>
              <yloc>224</yloc>
            </GUI>
          </transform>
          <transform>
            <name>investors: number the pages</name>
            <type>Sequence</type>
            <description/>
            <distribute>Y</distribute>
            <custom_distribution/>
            <copies>1</copies>
            <partitioning>
              <method>none</method>
              <schema_name/>
            </partitioning>
            <counter_name>investors_page</counter_name>
            <use_counter>Y</use_counter>
            <use_database>N</use_database>
            <increment_by>1</increment_by>
            <max_value>999999999</max_value>
            <schema/>
            <seqname>SEQ_</seqname>
            <start_at>0</start_at>
            <valuename>page</valuename>
            <attributes/>
            <GUI>
              <xloc>800</xloc>
              <yloc>224</yloc>
            </GUI>
          </transform>
          <transform>
            <name>investors: keep real pages</name>
            <type>FilterRows</type>
            <description/>
            <distribute>Y</distribute>
            <custom_distribution/>
            <copies>1</copies>
            <partitioning>
              <method>none</method>
              <schema_name/>
            </partitioning>
            <send_true_to>investors: page url</send_true_to>
            <send_false_to>investors: discard the probe row</send_false_to>
            <compare>
              <condition>
                <negated>N</negated>
                <leftvalue>page</leftvalue>
                <function>&gt;</function>
                <rightvalue/>
                <value>
                  <name>constant</name>
                  <type>Integer</type>
                  <text>0</text>
                  <length>-1</length>
                  <precision>0</precision>
                  <isnull>N</isnull>
                  <mask>####0;-####0</mask>
                </value>
              </condition>
            </compare>
            <attributes/>
            <GUI>
              <xloc>976</xloc>
              <yloc>224</yloc>
            </GUI>
          </transform>
          <transform>
            <name>investors: discard the probe row</name>
            <type>Dummy</type>
            <description/>
            <distribute>Y</distribute>
            <custom_distribution/>
            <copies>1</copies>
            <partitioning>
              <method>none</method>
              <schema_name/>
            </partitioning>
            <attributes/>
            <GUI>
              <xloc>976</xloc>
              <yloc>288</yloc>
            </GUI>
          </transform>
          <transform>
            <name>investors: page url</name>
            <type>ConcatFields</type>
            <description/>
            <distribute>Y</distribute>
            <custom_distribution/>
            <copies>1</copies>
            <partitioning>
              <method>none</method>
              <schema_name/>
            </partitioning>
            <ConcatFields>
              <removeSelectedFields>N</removeSelectedFields>
              <targetFieldLength>0</targetFieldLength>
              <targetFieldName>pageUrl</targetFieldName>
            </ConcatFields>
            <enclosure/>
            <fields>
              <field>
                <currency/>
                <decimal/>
                <format></format>
                <group/>
                <length>-1</length>
                <name>pageUrlBase</name>
                <nullif/>
                <precision>-1</precision>
                <trim_type>none</trim_type>
                <type>String</type>
              </field>
              <field>
                <currency/>
                <decimal/>
                <format>0</format>
                <group/>
                <length>-1</length>
                <name>page</name>
                <nullif/>
                <precision>-1</precision>
                <trim_type>none</trim_type>
                <type>Integer</type>
              </field>
              <field>
                <currency/>
                <decimal/>
                <format></format>
                <group/>
                <length>-1</length>
                <name>pageUrlSuffix</name>
                <nullif/>
                <precision>-1</precision>
                <trim_type>none</trim_type>
                <type>String</type>
              </field>
            </fields>
            <separator/>
            <attributes/>
            <GUI>
              <xloc>1152</xloc>
              <yloc>224</yloc>
            </GUI>
          </transform>
          <transform>
            <name>investors: fetch every page</name>
            <type>Rest</type>
            <description/>
            <distribute>Y</distribute>
            <custom_distribution/>
            <copies>1</copies>
            <partitioning>
              <method>none</method>
              <schema_name/>
            </partitioning>
            <applicationType>TEXT PLAIN</applicationType>
            <method>GET</method>
            <url/>
            <urlInField>Y</urlInField>
            <dynamicMethod>N</dynamicMethod>
            <methodFieldName/>
            <urlField>pageUrl</urlField>
            <bodyField/>
            <httpLogin/>
            <httpPassword>Encrypted </httpPassword>
            <proxyHost/>
            <proxyPort/>
            <preemptive>N</preemptive>
            <trustStoreFile/>
            <trustStorePassword>Encrypted </trustStorePassword>
            <ignoreSsl>N</ignoreSsl>
            <headers>
              </headers>
            <parameters>
              </parameters>
            <matrixParameters>
              </matrixParameters>
            <result>
              <name>pageBody</name>
              <code/>
              <response_time/>
              <response_header/>
            </result>
            <attributes/>
            <GUI>
              <xloc>1328</xloc>
              <yloc>224</yloc>
            </GUI>
          </transform>
          <transform>
            <name>investors: parse rows</name>
            <type>JsonInput</type>
            <description/>
            <distribute>Y</distribute>
            <custom_distribution/>
            <copies>1</copies>
            <partitioning>
              <method>none</method>
              <schema_name/>
            </partitioning>
            <include>N</include>
            <include_field/>
            <rownum>N</rownum>
            <addresultfile>N</addresultfile>
            <readurl>N</readurl>
            <removeSourceField>Y</removeSourceField>
            <IsIgnoreEmptyFile>N</IsIgnoreEmptyFile>
            <doNotFailIfNoFile>N</doNotFailIfNoFile>
            <ignoreMissingPath>N</ignoreMissingPath>
            <defaultPathLeafToNull>N</defaultPathLeafToNull>
            <rownum_field/>
            <file>
              <name/>
              <filemask/>
              <exclude_filemask/>
              <file_required>N</file_required>
              <include_subfolders>N</include_subfolders>
            </file>
            <fields>
              <field>
                <name>investors_investorId</name>
                <path>$.data[*].investorId</path>
                <type>String</type>
                <format/>
                <currency/>
                <decimal/>
                <group/>
                <length>-1</length>
                <precision>-1</precision>
                <trim_type>none</trim_type>
                <repeat>N</repeat>
              </field>
              <field>
                <name>clientId</name>
                <path>$.data[*].investorId</path>
                <type>String</type>
                <format/>
                <currency/>
                <decimal/>
                <group/>
                <length>-1</length>
                <precision>-1</precision>
                <trim_type>none</trim_type>
                <repeat>N</repeat>
              </field>
              <field>
                <name>clientName</name>
                <path>$.data[*].name</path>
                <type>String</type>
                <format/>
                <currency/>
                <decimal/>
                <group/>
                <length>-1</length>
                <precision>-1</precision>
                <trim_type>none</trim_type>
                <repeat>N</repeat>
              </field>
              <field>
                <name>advisorGroup</name>
                <path>$.data[*].advisorGroup</path>
                <type>String</type>
                <format/>
                <currency/>
                <decimal/>
                <group/>
                <length>-1</length>
                <precision>-1</precision>
                <trim_type>none</trim_type>
                <repeat>N</repeat>
              </field>
            </fields>
            <limit>0</limit>
            <IsInFields>Y</IsInFields>
            <IsAFile>N</IsAFile>
            <valueField>pageBody</valueField>
            <shortFileFieldName/>
            <pathFieldName/>
            <hiddenFieldName/>
            <lastModificationTimeFieldName/>
            <uriNameFieldName/>
            <rootUriNameFieldName/>
            <extensionFieldName/>
            <sizeFieldName/>
            <attributes/>
            <GUI>
              <xloc>1504</xloc>
              <yloc>224</yloc>
            </GUI>
          </transform>
          <transform>
            <name>investors: project fields</name>
            <type>SelectValues</type>
            <description/>
            <distribute>Y</distribute>
            <custom_distribution/>
            <copies>1</copies>
            <partitioning>
              <method>none</method>
              <schema_name/>
            </partitioning>
            <fields>
              <field>
                <name>investors_investorId</name>
                <rename/>
              </field>
              <field>
                <name>clientId</name>
                <rename/>
              </field>
              <field>
                <name>clientName</name>
                <rename/>
              </field>
              <field>
                <name>advisorGroup</name>
                <rename/>
              </field>
              <select_unspecified>N</select_unspecified>
            </fields>
            <attributes/>
            <GUI>
              <xloc>1680</xloc>
              <yloc>224</yloc>
            </GUI>
          </transform>
          <transform>
            <name>investors: sort for merge</name>
            <type>SortRows</type>
            <description/>
            <distribute>Y</distribute>
            <custom_distribution/>
            <copies>1</copies>
            <partitioning>
              <method>none</method>
              <schema_name/>
            </partitioning>
            <directory>${java.io.tmpdir}</directory>
            <prefix>out</prefix>
            <sort_size>5000</sort_size>
            <free_memory/>
            <compress>N</compress>
            <compress_variable/>
            <unique_rows>N</unique_rows>
            <fields>
              <field>
                <name>investors_investorId</name>
                <ascending>Y</ascending>
                <case_sensitive>Y</case_sensitive>
                <collator_enabled>N</collator_enabled>
                <collator_strength>0</collator_strength>
                <presorted>N</presorted>
              </field>
            </fields>
            <attributes/>
            <GUI>
              <xloc>1856</xloc>
              <yloc>224</yloc>
            </GUI>
          </transform>
          <transform>
            <name>orders: seed page 1</name>
            <type>RowGenerator</type>
            <description/>
            <distribute>Y</distribute>
            <custom_distribution/>
            <copies>1</copies>
            <partitioning>
              <method>none</method>
              <schema_name/>
            </partitioning>
            <fields>
              <field>
                <currency/>
                <decimal/>
                <format/>
                <group/>
                <length>-1</length>
                <name>pageUrlBase</name>
                <precision>-1</precision>
                <set_empty_string>N</set_empty_string>
                <type>String</type>
                <nullif>http://wiremock:8080/orders?page=</nullif>
              </field>
              <field>
                <currency/>
                <decimal/>
                <format/>
                <group/>
                <length>-1</length>
                <name>pageUrlSuffix</name>
                <precision>-1</precision>
                <set_empty_string>N</set_empty_string>
                <type>String</type>
                <nullif>&amp;pageSize=75</nullif>
              </field>
            </fields>
            <interval_in_ms>5000</interval_in_ms>
            <last_time_field>FiveSecondsAgo</last_time_field>
            <never_ending>N</never_ending>
            <limit>1</limit>
            <row_time_field>now</row_time_field>
            <attributes/>
            <GUI>
              <xloc>96</xloc>
              <yloc>352</yloc>
            </GUI>
          </transform>
          <transform>
            <name>orders: probe page 1</name>
            <type>Rest</type>
            <description/>
            <distribute>Y</distribute>
            <custom_distribution/>
            <copies>1</copies>
            <partitioning>
              <method>none</method>
              <schema_name/>
            </partitioning>
            <applicationType>TEXT PLAIN</applicationType>
            <method>GET</method>
            <url>http://wiremock:8080/orders?page=1&amp;pageSize=75</url>
            <urlInField>N</urlInField>
            <dynamicMethod>N</dynamicMethod>
            <methodFieldName/>
            <urlField></urlField>
            <bodyField/>
            <httpLogin/>
            <httpPassword>Encrypted </httpPassword>
            <proxyHost/>
            <proxyPort/>
            <preemptive>N</preemptive>
            <trustStoreFile/>
            <trustStorePassword>Encrypted </trustStorePassword>
            <ignoreSsl>N</ignoreSsl>
            <headers>
              </headers>
            <parameters>
              </parameters>
            <matrixParameters>
              </matrixParameters>
            <result>
              <name>envelope</name>
              <code/>
              <response_time/>
              <response_header/>
            </result>
            <attributes/>
            <GUI>
              <xloc>272</xloc>
              <yloc>352</yloc>
            </GUI>
          </transform>
          <transform>
            <name>orders: read totalPages</name>
            <type>JsonInput</type>
            <description/>
            <distribute>Y</distribute>
            <custom_distribution/>
            <copies>1</copies>
            <partitioning>
              <method>none</method>
              <schema_name/>
            </partitioning>
            <include>N</include>
            <include_field/>
            <rownum>N</rownum>
            <addresultfile>N</addresultfile>
            <readurl>N</readurl>
            <removeSourceField>Y</removeSourceField>
            <IsIgnoreEmptyFile>N</IsIgnoreEmptyFile>
            <doNotFailIfNoFile>N</doNotFailIfNoFile>
            <ignoreMissingPath>N</ignoreMissingPath>
            <defaultPathLeafToNull>N</defaultPathLeafToNull>
            <rownum_field/>
            <file>
              <name/>
              <filemask/>
              <exclude_filemask/>
              <file_required>N</file_required>
              <include_subfolders>N</include_subfolders>
            </file>
            <fields>
              <field>
                <name>totalPages</name>
                <path>$.totalPages</path>
                <type>Integer</type>
                <format/>
                <currency/>
                <decimal/>
                <group/>
                <length>-1</length>
                <precision>-1</precision>
                <trim_type>none</trim_type>
                <repeat>N</repeat>
              </field>
            </fields>
            <limit>0</limit>
            <IsInFields>Y</IsInFields>
            <IsAFile>N</IsAFile>
            <valueField>envelope</valueField>
            <shortFileFieldName/>
            <pathFieldName/>
            <hiddenFieldName/>
            <lastModificationTimeFieldName/>
            <uriNameFieldName/>
            <rootUriNameFieldName/>
            <extensionFieldName/>
            <sizeFieldName/>
            <attributes/>
            <GUI>
              <xloc>448</xloc>
              <yloc>352</yloc>
            </GUI>
          </transform>
          <transform>
            <name>orders: one row per page</name>
            <type>CloneRow</type>
            <description/>
            <distribute>Y</distribute>
            <custom_distribution/>
            <copies>1</copies>
            <partitioning>
              <method>none</method>
              <schema_name/>
            </partitioning>
            <nrclones>0</nrclones>
            <addcloneflag>N</addcloneflag>
            <cloneflagfield/>
            <nrcloneinfield>Y</nrcloneinfield>
            <nrclonefield>totalPages</nrclonefield>
            <addclonenum>N</addclonenum>
            <clonenumfield/>
            <attributes/>
            <GUI>
              <xloc>624</xloc>
              <yloc>352</yloc>
            </GUI>
          </transform>
          <transform>
            <name>orders: number the pages</name>
            <type>Sequence</type>
            <description/>
            <distribute>Y</distribute>
            <custom_distribution/>
            <copies>1</copies>
            <partitioning>
              <method>none</method>
              <schema_name/>
            </partitioning>
            <counter_name>orders_page</counter_name>
            <use_counter>Y</use_counter>
            <use_database>N</use_database>
            <increment_by>1</increment_by>
            <max_value>999999999</max_value>
            <schema/>
            <seqname>SEQ_</seqname>
            <start_at>0</start_at>
            <valuename>page</valuename>
            <attributes/>
            <GUI>
              <xloc>800</xloc>
              <yloc>352</yloc>
            </GUI>
          </transform>
          <transform>
            <name>orders: keep real pages</name>
            <type>FilterRows</type>
            <description/>
            <distribute>Y</distribute>
            <custom_distribution/>
            <copies>1</copies>
            <partitioning>
              <method>none</method>
              <schema_name/>
            </partitioning>
            <send_true_to>orders: page url</send_true_to>
            <send_false_to>orders: discard the probe row</send_false_to>
            <compare>
              <condition>
                <negated>N</negated>
                <leftvalue>page</leftvalue>
                <function>&gt;</function>
                <rightvalue/>
                <value>
                  <name>constant</name>
                  <type>Integer</type>
                  <text>0</text>
                  <length>-1</length>
                  <precision>0</precision>
                  <isnull>N</isnull>
                  <mask>####0;-####0</mask>
                </value>
              </condition>
            </compare>
            <attributes/>
            <GUI>
              <xloc>976</xloc>
              <yloc>352</yloc>
            </GUI>
          </transform>
          <transform>
            <name>orders: discard the probe row</name>
            <type>Dummy</type>
            <description/>
            <distribute>Y</distribute>
            <custom_distribution/>
            <copies>1</copies>
            <partitioning>
              <method>none</method>
              <schema_name/>
            </partitioning>
            <attributes/>
            <GUI>
              <xloc>976</xloc>
              <yloc>416</yloc>
            </GUI>
          </transform>
          <transform>
            <name>orders: page url</name>
            <type>ConcatFields</type>
            <description/>
            <distribute>Y</distribute>
            <custom_distribution/>
            <copies>1</copies>
            <partitioning>
              <method>none</method>
              <schema_name/>
            </partitioning>
            <ConcatFields>
              <removeSelectedFields>N</removeSelectedFields>
              <targetFieldLength>0</targetFieldLength>
              <targetFieldName>pageUrl</targetFieldName>
            </ConcatFields>
            <enclosure/>
            <fields>
              <field>
                <currency/>
                <decimal/>
                <format></format>
                <group/>
                <length>-1</length>
                <name>pageUrlBase</name>
                <nullif/>
                <precision>-1</precision>
                <trim_type>none</trim_type>
                <type>String</type>
              </field>
              <field>
                <currency/>
                <decimal/>
                <format>0</format>
                <group/>
                <length>-1</length>
                <name>page</name>
                <nullif/>
                <precision>-1</precision>
                <trim_type>none</trim_type>
                <type>Integer</type>
              </field>
              <field>
                <currency/>
                <decimal/>
                <format></format>
                <group/>
                <length>-1</length>
                <name>pageUrlSuffix</name>
                <nullif/>
                <precision>-1</precision>
                <trim_type>none</trim_type>
                <type>String</type>
              </field>
            </fields>
            <separator/>
            <attributes/>
            <GUI>
              <xloc>1152</xloc>
              <yloc>352</yloc>
            </GUI>
          </transform>
          <transform>
            <name>orders: fetch every page</name>
            <type>Rest</type>
            <description/>
            <distribute>Y</distribute>
            <custom_distribution/>
            <copies>1</copies>
            <partitioning>
              <method>none</method>
              <schema_name/>
            </partitioning>
            <applicationType>TEXT PLAIN</applicationType>
            <method>GET</method>
            <url/>
            <urlInField>Y</urlInField>
            <dynamicMethod>N</dynamicMethod>
            <methodFieldName/>
            <urlField>pageUrl</urlField>
            <bodyField/>
            <httpLogin/>
            <httpPassword>Encrypted </httpPassword>
            <proxyHost/>
            <proxyPort/>
            <preemptive>N</preemptive>
            <trustStoreFile/>
            <trustStorePassword>Encrypted </trustStorePassword>
            <ignoreSsl>N</ignoreSsl>
            <headers>
              </headers>
            <parameters>
              </parameters>
            <matrixParameters>
              </matrixParameters>
            <result>
              <name>pageBody</name>
              <code/>
              <response_time/>
              <response_header/>
            </result>
            <attributes/>
            <GUI>
              <xloc>1328</xloc>
              <yloc>352</yloc>
            </GUI>
          </transform>
          <transform>
            <name>orders: parse rows</name>
            <type>JsonInput</type>
            <description/>
            <distribute>Y</distribute>
            <custom_distribution/>
            <copies>1</copies>
            <partitioning>
              <method>none</method>
              <schema_name/>
            </partitioning>
            <include>N</include>
            <include_field/>
            <rownum>N</rownum>
            <addresultfile>N</addresultfile>
            <readurl>N</readurl>
            <removeSourceField>Y</removeSourceField>
            <IsIgnoreEmptyFile>N</IsIgnoreEmptyFile>
            <doNotFailIfNoFile>N</doNotFailIfNoFile>
            <ignoreMissingPath>N</ignoreMissingPath>
            <defaultPathLeafToNull>N</defaultPathLeafToNull>
            <rownum_field/>
            <file>
              <name/>
              <filemask/>
              <exclude_filemask/>
              <file_required>N</file_required>
              <include_subfolders>N</include_subfolders>
            </file>
            <fields>
              <field>
                <name>orders_investorId</name>
                <path>$.data[*].investorId</path>
                <type>String</type>
                <format/>
                <currency/>
                <decimal/>
                <group/>
                <length>-1</length>
                <precision>-1</precision>
                <trim_type>none</trim_type>
                <repeat>N</repeat>
              </field>
              <field>
                <name>orders_symbol</name>
                <path>$.data[*].symbol</path>
                <type>String</type>
                <format/>
                <currency/>
                <decimal/>
                <group/>
                <length>-1</length>
                <precision>-1</precision>
                <trim_type>none</trim_type>
                <repeat>N</repeat>
              </field>
              <field>
                <name>orderId</name>
                <path>$.data[*].orderId</path>
                <type>String</type>
                <format/>
                <currency/>
                <decimal/>
                <group/>
                <length>-1</length>
                <precision>-1</precision>
                <trim_type>none</trim_type>
                <repeat>N</repeat>
              </field>
              <field>
                <name>orderSide</name>
                <path>$.data[*].side</path>
                <type>String</type>
                <format/>
                <currency/>
                <decimal/>
                <group/>
                <length>-1</length>
                <precision>-1</precision>
                <trim_type>none</trim_type>
                <repeat>N</repeat>
              </field>
              <field>
                <name>orderQuantity</name>
                <path>$.data[*].quantity</path>
                <type>String</type>
                <format/>
                <currency/>
                <decimal/>
                <group/>
                <length>-1</length>
                <precision>-1</precision>
                <trim_type>none</trim_type>
                <repeat>N</repeat>
              </field>
              <field>
                <name>orderStatus</name>
                <path>$.data[*].status</path>
                <type>String</type>
                <format/>
                <currency/>
                <decimal/>
                <group/>
                <length>-1</length>
                <precision>-1</precision>
                <trim_type>none</trim_type>
                <repeat>N</repeat>
              </field>
              <field>
                <name>tradeDate</name>
                <path>$.data[*].tradeDate</path>
                <type>String</type>
                <format/>
                <currency/>
                <decimal/>
                <group/>
                <length>-1</length>
                <precision>-1</precision>
                <trim_type>none</trim_type>
                <repeat>N</repeat>
              </field>
            </fields>
            <limit>0</limit>
            <IsInFields>Y</IsInFields>
            <IsAFile>N</IsAFile>
            <valueField>pageBody</valueField>
            <shortFileFieldName/>
            <pathFieldName/>
            <hiddenFieldName/>
            <lastModificationTimeFieldName/>
            <uriNameFieldName/>
            <rootUriNameFieldName/>
            <extensionFieldName/>
            <sizeFieldName/>
            <attributes/>
            <GUI>
              <xloc>1504</xloc>
              <yloc>352</yloc>
            </GUI>
          </transform>
          <transform>
            <name>orders: project fields</name>
            <type>SelectValues</type>
            <description/>
            <distribute>Y</distribute>
            <custom_distribution/>
            <copies>1</copies>
            <partitioning>
              <method>none</method>
              <schema_name/>
            </partitioning>
            <fields>
              <field>
                <name>orders_investorId</name>
                <rename/>
              </field>
              <field>
                <name>orders_symbol</name>
                <rename/>
              </field>
              <field>
                <name>orderId</name>
                <rename/>
              </field>
              <field>
                <name>orderSide</name>
                <rename/>
              </field>
              <field>
                <name>orderQuantity</name>
                <rename/>
              </field>
              <field>
                <name>orderStatus</name>
                <rename/>
              </field>
              <field>
                <name>tradeDate</name>
                <rename/>
              </field>
              <select_unspecified>N</select_unspecified>
            </fields>
            <attributes/>
            <GUI>
              <xloc>1680</xloc>
              <yloc>352</yloc>
            </GUI>
          </transform>
          <transform>
            <name>orders: sort for merge</name>
            <type>SortRows</type>
            <description/>
            <distribute>Y</distribute>
            <custom_distribution/>
            <copies>1</copies>
            <partitioning>
              <method>none</method>
              <schema_name/>
            </partitioning>
            <directory>${java.io.tmpdir}</directory>
            <prefix>out</prefix>
            <sort_size>5000</sort_size>
            <free_memory/>
            <compress>N</compress>
            <compress_variable/>
            <unique_rows>N</unique_rows>
            <fields>
              <field>
                <name>orders_investorId</name>
                <ascending>Y</ascending>
                <case_sensitive>Y</case_sensitive>
                <collator_enabled>N</collator_enabled>
                <collator_strength>0</collator_strength>
                <presorted>N</presorted>
              </field>
              <field>
                <name>orders_symbol</name>
                <ascending>Y</ascending>
                <case_sensitive>Y</case_sensitive>
                <collator_enabled>N</collator_enabled>
                <collator_strength>0</collator_strength>
                <presorted>N</presorted>
              </field>
              <field>
                <name>tradeDate</name>
                <ascending>N</ascending>
                <case_sensitive>Y</case_sensitive>
                <collator_enabled>N</collator_enabled>
                <collator_strength>0</collator_strength>
                <presorted>N</presorted>
              </field>
              <field>
                <name>orderId</name>
                <ascending>N</ascending>
                <case_sensitive>Y</case_sensitive>
                <collator_enabled>N</collator_enabled>
                <collator_strength>0</collator_strength>
                <presorted>N</presorted>
              </field>
            </fields>
            <attributes/>
            <GUI>
              <xloc>1856</xloc>
              <yloc>352</yloc>
            </GUI>
          </transform>
          <transform>
            <name>orders: keep the latest per key</name>
            <type>Unique</type>
            <description/>
            <distribute>Y</distribute>
            <custom_distribution/>
            <copies>1</copies>
            <partitioning>
              <method>none</method>
              <schema_name/>
            </partitioning>
            <count_rows>N</count_rows>
            <count_field/>
            <reject_duplicate_row>N</reject_duplicate_row>
            <error_description/>
            <fields>
              <field>
                <name>orders_investorId</name>
                <case_insensitive>N</case_insensitive>
              </field>
              <field>
                <name>orders_symbol</name>
                <case_insensitive>N</case_insensitive>
              </field>
            </fields>
            <attributes/>
            <GUI>
              <xloc>2032</xloc>
              <yloc>352</yloc>
            </GUI>
          </transform>
          <transform>
            <name>merge investors</name>
            <type>MergeJoin</type>
            <description/>
            <distribute>Y</distribute>
            <custom_distribution/>
            <copies>1</copies>
            <partitioning>
              <method>none</method>
              <schema_name/>
            </partitioning>
            <join_type>LEFT OUTER</join_type>
            <keys_1>
              <key>investorId</key>
            </keys_1>
            <keys_2>
              <key>investors_investorId</key>
            </keys_2>
            <transform1>positions: sort for merge</transform1>
            <transform2>investors: sort for merge</transform2>
            <attributes/>
            <GUI>
              <xloc>96</xloc>
              <yloc>480</yloc>
            </GUI>
          </transform>
          <transform>
            <name>sort for the orders merge</name>
            <type>SortRows</type>
            <description/>
            <distribute>Y</distribute>
            <custom_distribution/>
            <copies>1</copies>
            <partitioning>
              <method>none</method>
              <schema_name/>
            </partitioning>
            <directory>${java.io.tmpdir}</directory>
            <prefix>out</prefix>
            <sort_size>5000</sort_size>
            <free_memory/>
            <compress>N</compress>
            <compress_variable/>
            <unique_rows>N</unique_rows>
            <fields>
              <field>
                <name>investorId</name>
                <ascending>Y</ascending>
                <case_sensitive>Y</case_sensitive>
                <collator_enabled>N</collator_enabled>
                <collator_strength>0</collator_strength>
                <presorted>N</presorted>
              </field>
              <field>
                <name>symbol</name>
                <ascending>Y</ascending>
                <case_sensitive>Y</case_sensitive>
                <collator_enabled>N</collator_enabled>
                <collator_strength>0</collator_strength>
                <presorted>N</presorted>
              </field>
            </fields>
            <attributes/>
            <GUI>
              <xloc>272</xloc>
              <yloc>480</yloc>
            </GUI>
          </transform>
          <transform>
            <name>merge orders</name>
            <type>MergeJoin</type>
            <description/>
            <distribute>Y</distribute>
            <custom_distribution/>
            <copies>1</copies>
            <partitioning>
              <method>none</method>
              <schema_name/>
            </partitioning>
            <join_type>LEFT OUTER</join_type>
            <keys_1>
              <key>investorId</key>
              <key>symbol</key>
            </keys_1>
            <keys_2>
              <key>orders_investorId</key>
              <key>orders_symbol</key>
            </keys_2>
            <transform1>sort for the orders merge</transform1>
            <transform2>orders: keep the latest per key</transform2>
            <attributes/>
            <GUI>
              <xloc>448</xloc>
              <yloc>480</yloc>
            </GUI>
          </transform>
          <transform>
            <name>filter by Clients</name>
            <type>FilterRows</type>
            <description/>
            <distribute>Y</distribute>
            <custom_distribution/>
            <copies>1</copies>
            <partitioning>
              <method>none</method>
              <schema_name/>
            </partitioning>
            <send_true_to>selected Clients</send_true_to>
            <send_false_to>other Clients</send_false_to>
            <compare>
              <condition>
                <negated>N</negated>
                <leftvalue>clientId</leftvalue>
                <function>IN LIST</function>
                <rightvalue/>
                <value>
                  <name>constant</name>
                  <type>String</type>
                  <text>INV-001;INV-002;INV-003</text>
                  <length>-1</length>
                  <precision>-1</precision>
                  <isnull>N</isnull>
                </value>
              </condition>
            </compare>
            <attributes/>
            <GUI>
              <xloc>624</xloc>
              <yloc>480</yloc>
            </GUI>
          </transform>
          <transform>
            <name>selected Clients</name>
            <type>Dummy</type>
            <description/>
            <distribute>Y</distribute>
            <custom_distribution/>
            <copies>1</copies>
            <partitioning>
              <method>none</method>
              <schema_name/>
            </partitioning>
            <attributes/>
            <GUI>
              <xloc>800</xloc>
              <yloc>480</yloc>
            </GUI>
          </transform>
          <transform>
            <name>other Clients</name>
            <type>Dummy</type>
            <description/>
            <distribute>Y</distribute>
            <custom_distribution/>
            <copies>1</copies>
            <partitioning>
              <method>none</method>
              <schema_name/>
            </partitioning>
            <attributes/>
            <GUI>
              <xloc>624</xloc>
              <yloc>544</yloc>
            </GUI>
          </transform>
          <transform>
            <name>resolve run context</name>
            <type>GetVariable</type>
            <description/>
            <distribute>N</distribute>
            <custom_distribution/>
            <copies>1</copies>
            <partitioning>
              <method>none</method>
              <schema_name/>
            </partitioning>
            <fields>
              <field>
                <name>businessDate</name>
                <variable>${BUSINESS_DATE}</variable>
                <type>String</type>
                <format/>
                <currency/>
                <decimal/>
                <group/>
                <length>-1</length>
                <precision>-1</precision>
                <trim_type>none</trim_type>
              </field>
              <field>
                <name>outDir</name>
                <variable>${OUT_DIR}</variable>
                <type>String</type>
                <format/>
                <currency/>
                <decimal/>
                <group/>
                <length>-1</length>
                <precision>-1</precision>
                <trim_type>none</trim_type>
              </field>
            </fields>
            <attributes/>
            <GUI>
              <xloc>976</xloc>
              <yloc>480</yloc>
            </GUI>
          </transform>
          <transform>
            <name>positions-by-asset-class: sort delivered rows</name>
            <type>SortRows</type>
            <description/>
            <distribute>Y</distribute>
            <custom_distribution/>
            <copies>1</copies>
            <partitioning>
              <method>none</method>
              <schema_name/>
            </partitioning>
            <directory>${java.io.tmpdir}</directory>
            <prefix>out</prefix>
            <sort_size>5000</sort_size>
            <free_memory/>
            <compress>N</compress>
            <compress_variable/>
            <unique_rows>N</unique_rows>
            <fields>
              <field>
                <name>clientId</name>
                <ascending>Y</ascending>
                <case_sensitive>Y</case_sensitive>
                <collator_enabled>N</collator_enabled>
                <collator_strength>0</collator_strength>
                <presorted>N</presorted>
              </field>
              <field>
                <name>clientName</name>
                <ascending>Y</ascending>
                <case_sensitive>Y</case_sensitive>
                <collator_enabled>N</collator_enabled>
                <collator_strength>0</collator_strength>
                <presorted>N</presorted>
              </field>
              <field>
                <name>advisorGroup</name>
                <ascending>Y</ascending>
                <case_sensitive>Y</case_sensitive>
                <collator_enabled>N</collator_enabled>
                <collator_strength>0</collator_strength>
                <presorted>N</presorted>
              </field>
              <field>
                <name>symbol</name>
                <ascending>Y</ascending>
                <case_sensitive>Y</case_sensitive>
                <collator_enabled>N</collator_enabled>
                <collator_strength>0</collator_strength>
                <presorted>N</presorted>
              </field>
              <field>
                <name>assetClass</name>
                <ascending>Y</ascending>
                <case_sensitive>Y</case_sensitive>
                <collator_enabled>N</collator_enabled>
                <collator_strength>0</collator_strength>
                <presorted>N</presorted>
              </field>
              <field>
                <name>quantity</name>
                <ascending>Y</ascending>
                <case_sensitive>Y</case_sensitive>
                <collator_enabled>N</collator_enabled>
                <collator_strength>0</collator_strength>
                <presorted>N</presorted>
              </field>
              <field>
                <name>marketValue</name>
                <ascending>Y</ascending>
                <case_sensitive>Y</case_sensitive>
                <collator_enabled>N</collator_enabled>
                <collator_strength>0</collator_strength>
                <presorted>N</presorted>
              </field>
              <field>
                <name>currency</name>
                <ascending>Y</ascending>
                <case_sensitive>Y</case_sensitive>
                <collator_enabled>N</collator_enabled>
                <collator_strength>0</collator_strength>
                <presorted>N</presorted>
              </field>
              <field>
                <name>orderId</name>
                <ascending>Y</ascending>
                <case_sensitive>Y</case_sensitive>
                <collator_enabled>N</collator_enabled>
                <collator_strength>0</collator_strength>
                <presorted>N</presorted>
              </field>
              <field>
                <name>orderSide</name>
                <ascending>Y</ascending>
                <case_sensitive>Y</case_sensitive>
                <collator_enabled>N</collator_enabled>
                <collator_strength>0</collator_strength>
                <presorted>N</presorted>
              </field>
              <field>
                <name>orderQuantity</name>
                <ascending>Y</ascending>
                <case_sensitive>Y</case_sensitive>
                <collator_enabled>N</collator_enabled>
                <collator_strength>0</collator_strength>
                <presorted>N</presorted>
              </field>
              <field>
                <name>orderStatus</name>
                <ascending>Y</ascending>
                <case_sensitive>Y</case_sensitive>
                <collator_enabled>N</collator_enabled>
                <collator_strength>0</collator_strength>
                <presorted>N</presorted>
              </field>
              <field>
                <name>tradeDate</name>
                <ascending>Y</ascending>
                <case_sensitive>Y</case_sensitive>
                <collator_enabled>N</collator_enabled>
                <collator_strength>0</collator_strength>
                <presorted>N</presorted>
              </field>
            </fields>
            <attributes/>
            <GUI>
              <xloc>96</xloc>
              <yloc>608</yloc>
            </GUI>
          </transform>
          <transform>
            <name>positions-by-asset-class: file name parts</name>
            <type>Constant</type>
            <description/>
            <distribute>Y</distribute>
            <custom_distribution/>
            <copies>1</copies>
            <partitioning>
              <method>none</method>
              <schema_name/>
            </partitioning>
            <fields>
              <field>
                <currency/>
                <decimal/>
                <format/>
                <group/>
                <length>-1</length>
                <name>namePart1</name>
                <precision>-1</precision>
                <set_empty_string>N</set_empty_string>
                <type>String</type>
                <nullif>/positions_</nullif>
              </field>
              <field>
                <currency/>
                <decimal/>
                <format/>
                <group/>
                <length>-1</length>
                <name>namePart2</name>
                <precision>-1</precision>
                <set_empty_string>N</set_empty_string>
                <type>String</type>
                <nullif>_</nullif>
              </field>
              <field>
                <currency/>
                <decimal/>
                <format/>
                <group/>
                <length>-1</length>
                <name>namePart3</name>
                <precision>-1</precision>
                <set_empty_string>N</set_empty_string>
                <type>String</type>
                <nullif>.csv</nullif>
              </field>
            </fields>
            <attributes/>
            <GUI>
              <xloc>272</xloc>
              <yloc>608</yloc>
            </GUI>
          </transform>
          <transform>
            <name>positions-by-asset-class: file name</name>
            <type>ConcatFields</type>
            <description/>
            <distribute>Y</distribute>
            <custom_distribution/>
            <copies>1</copies>
            <partitioning>
              <method>none</method>
              <schema_name/>
            </partitioning>
            <ConcatFields>
              <removeSelectedFields>N</removeSelectedFields>
              <targetFieldLength>0</targetFieldLength>
              <targetFieldName>targetFileName</targetFieldName>
            </ConcatFields>
            <enclosure/>
            <fields>
              <field>
                <currency/>
                <decimal/>
                <format></format>
                <group/>
                <length>-1</length>
                <name>outDir</name>
                <nullif/>
                <precision>-1</precision>
                <trim_type>none</trim_type>
                <type>String</type>
              </field>
              <field>
                <currency/>
                <decimal/>
                <format></format>
                <group/>
                <length>-1</length>
                <name>namePart1</name>
                <nullif/>
                <precision>-1</precision>
                <trim_type>none</trim_type>
                <type>String</type>
              </field>
              <field>
                <currency/>
                <decimal/>
                <format></format>
                <group/>
                <length>-1</length>
                <name>assetClass</name>
                <nullif/>
                <precision>-1</precision>
                <trim_type>none</trim_type>
                <type>String</type>
              </field>
              <field>
                <currency/>
                <decimal/>
                <format></format>
                <group/>
                <length>-1</length>
                <name>namePart2</name>
                <nullif/>
                <precision>-1</precision>
                <trim_type>none</trim_type>
                <type>String</type>
              </field>
              <field>
                <currency/>
                <decimal/>
                <format></format>
                <group/>
                <length>-1</length>
                <name>businessDate</name>
                <nullif/>
                <precision>-1</precision>
                <trim_type>none</trim_type>
                <type>String</type>
              </field>
              <field>
                <currency/>
                <decimal/>
                <format></format>
                <group/>
                <length>-1</length>
                <name>namePart3</name>
                <nullif/>
                <precision>-1</precision>
                <trim_type>none</trim_type>
                <type>String</type>
              </field>
            </fields>
            <separator/>
            <attributes/>
            <GUI>
              <xloc>448</xloc>
              <yloc>608</yloc>
            </GUI>
          </transform>
          <transform>
            <name>write positions-by-asset-class</name>
            <type>TextFileOutput</type>
            <description/>
            <distribute>Y</distribute>
            <custom_distribution/>
            <copies>1</copies>
            <partitioning>
              <method>none</method>
              <schema_name/>
            </partitioning>
            <separator>,</separator>
            <enclosure/>
            <enclosure_forced>N</enclosure_forced>
            <enclosure_fix_disabled>N</enclosure_fix_disabled>
            <header>Y</header>
            <footer>N</footer>
            <format>Unix</format>
            <compression>None</compression>
            <encoding>UTF-8</encoding>
            <endedLine/>
            <fileNameInField>Y</fileNameInField>
            <fileNameField>targetFileName</fileNameField>
            <create_parent_folder>Y</create_parent_folder>
            <file>
              <name/>
              <servlet_output>N</servlet_output>
              <do_not_open_new_file_init>Y</do_not_open_new_file_init>
              <extention/>
              <append>N</append>
              <split>N</split>
              <haspartno>N</haspartno>
              <add_date>N</add_date>
              <add_time>N</add_time>
              <SpecifyFormat>N</SpecifyFormat>
              <date_time_format/>
              <add_to_result_filenames>N</add_to_result_filenames>
              <pad>N</pad>
              <fast_dump>N</fast_dump>
              <splitevery/>
            </file>
            <fields>
              <field>
                <name>clientId</name>
                <type>String</type>
                <format/>
                <currency/>
                <decimal/>
                <group/>
                <nullif/>
                <trim_type>none</trim_type>
                <length>-1</length>
                <precision>-1</precision>
              </field>
              <field>
                <name>clientName</name>
                <type>String</type>
                <format/>
                <currency/>
                <decimal/>
                <group/>
                <nullif/>
                <trim_type>none</trim_type>
                <length>-1</length>
                <precision>-1</precision>
              </field>
              <field>
                <name>advisorGroup</name>
                <type>String</type>
                <format/>
                <currency/>
                <decimal/>
                <group/>
                <nullif/>
                <trim_type>none</trim_type>
                <length>-1</length>
                <precision>-1</precision>
              </field>
              <field>
                <name>symbol</name>
                <type>String</type>
                <format/>
                <currency/>
                <decimal/>
                <group/>
                <nullif/>
                <trim_type>none</trim_type>
                <length>-1</length>
                <precision>-1</precision>
              </field>
              <field>
                <name>assetClass</name>
                <type>String</type>
                <format/>
                <currency/>
                <decimal/>
                <group/>
                <nullif/>
                <trim_type>none</trim_type>
                <length>-1</length>
                <precision>-1</precision>
              </field>
              <field>
                <name>quantity</name>
                <type>String</type>
                <format/>
                <currency/>
                <decimal/>
                <group/>
                <nullif/>
                <trim_type>none</trim_type>
                <length>-1</length>
                <precision>-1</precision>
              </field>
              <field>
                <name>marketValue</name>
                <type>String</type>
                <format/>
                <currency/>
                <decimal/>
                <group/>
                <nullif/>
                <trim_type>none</trim_type>
                <length>-1</length>
                <precision>-1</precision>
              </field>
              <field>
                <name>currency</name>
                <type>String</type>
                <format/>
                <currency/>
                <decimal/>
                <group/>
                <nullif/>
                <trim_type>none</trim_type>
                <length>-1</length>
                <precision>-1</precision>
              </field>
              <field>
                <name>orderId</name>
                <type>String</type>
                <format/>
                <currency/>
                <decimal/>
                <group/>
                <nullif/>
                <trim_type>none</trim_type>
                <length>-1</length>
                <precision>-1</precision>
              </field>
              <field>
                <name>orderSide</name>
                <type>String</type>
                <format/>
                <currency/>
                <decimal/>
                <group/>
                <nullif/>
                <trim_type>none</trim_type>
                <length>-1</length>
                <precision>-1</precision>
              </field>
              <field>
                <name>orderQuantity</name>
                <type>String</type>
                <format/>
                <currency/>
                <decimal/>
                <group/>
                <nullif/>
                <trim_type>none</trim_type>
                <length>-1</length>
                <precision>-1</precision>
              </field>
              <field>
                <name>orderStatus</name>
                <type>String</type>
                <format/>
                <currency/>
                <decimal/>
                <group/>
                <nullif/>
                <trim_type>none</trim_type>
                <length>-1</length>
                <precision>-1</precision>
              </field>
              <field>
                <name>tradeDate</name>
                <type>String</type>
                <format/>
                <currency/>
                <decimal/>
                <group/>
                <nullif/>
                <trim_type>none</trim_type>
                <length>-1</length>
                <precision>-1</precision>
              </field>
            </fields>
            <attributes/>
            <GUI>
              <xloc>624</xloc>
              <yloc>608</yloc>
            </GUI>
          </transform>
          <transform_error_handling>
          </transform_error_handling>
          <attributes/>
        </pipeline>
      positions-feed.hwf: |
        <?xml version="1.0" encoding="UTF-8"?>
        <workflow>
          <name>positions-feed</name>
          <name_sync_with_filename>Y</name_sync_with_filename>
          <description>Runs the positions-feed pipeline and stages its files to MinIO (ADR-0001: engines write to Staging)</description>
          <extended_description/>
          <workflow_version/>
          <created_user>-</created_user>
          <created_date>1970/01/01 00:00:00.000</created_date>
          <modified_user>-</modified_user>
          <modified_date>1970/01/01 00:00:00.000</modified_date>
          <parameters>
            <parameter>
              <name>BUSINESS_DATE</name>
              <default_value/>
              <description>The Business Date the produced files are as-of; resolved into every file name</description>
            </parameter>
            <parameter>
              <name>OUT_DIR</name>
              <default_value>/tmp/positions-feed-out</default_value>
              <description>Local folder the files are produced into before staging (direct minio:// output is broken in Hop 2.18.1)</description>
            </parameter>
            <parameter>
              <name>RUN_ID</name>
              <default_value/>
              <description>The Run identifier (the Kestra execution id); names the staging folder</description>
            </parameter>
          </parameters>
          <actions>
            <action>
              <name>Start</name>
              <description/>
              <type>SPECIAL</type>
              <attributes/>
              <DayOfMonth>1</DayOfMonth>
              <doNotWaitOnFirstExecution>N</doNotWaitOnFirstExecution>
              <hour>12</hour>
              <intervalMinutes>60</intervalMinutes>
              <intervalSeconds>0</intervalSeconds>
              <minutes>0</minutes>
              <repeat>N</repeat>
              <schedulerType>0</schedulerType>
              <weekDay>1</weekDay>
              <parallel>N</parallel>
              <xloc>96</xloc>
              <yloc>96</yloc>
              <attributes_hac/>
            </action>
            <action>
              <name>produce the files</name>
              <description/>
              <type>PIPELINE</type>
              <attributes/>
              <filename>${Internal.Entry.Current.Folder}/positions-feed.hpl</filename>
              <params_from_previous>N</params_from_previous>
              <exec_per_row>N</exec_per_row>
              <clear_rows>N</clear_rows>
              <clear_files>N</clear_files>
              <set_logfile>N</set_logfile>
              <logfile/>
              <logext/>
              <add_date>N</add_date>
              <add_time>N</add_time>
              <loglevel>Basic</loglevel>
              <set_append_logfile>N</set_append_logfile>
              <wait_until_finished>Y</wait_until_finished>
              <follow_abort_remote>N</follow_abort_remote>
              <create_parent_folder>N</create_parent_folder>
              <run_configuration>local</run_configuration>
              <parameters>
                <pass_all_parameters>Y</pass_all_parameters>
              </parameters>
              <parallel>N</parallel>
              <xloc>272</xloc>
              <yloc>96</yloc>
              <attributes_hac/>
            </action>
            <action>
              <name>stage the files</name>
              <description/>
              <type>COPY_FILES</type>
              <attributes/>
              <copy_empty_folders>N</copy_empty_folders>
              <arg_from_previous>N</arg_from_previous>
              <overwrite_files>Y</overwrite_files>
              <include_subfolders>N</include_subfolders>
              <remove_source_files>N</remove_source_files>
              <add_result_filesname>N</add_result_filesname>
              <destination_is_a_file>N</destination_is_a_file>
              <create_destination_folder>Y</create_destination_folder>
              <fields>
                <field>
                  <source_filefolder>${OUT_DIR}</source_filefolder>
                  <destination_filefolder>minio://staging/positions-feed/${RUN_ID}</destination_filefolder>
                  <wildcard>.*\.csv</wildcard>
                </field>
              </fields>
              <parallel>N</parallel>
              <xloc>448</xloc>
              <yloc>96</yloc>
              <attributes_hac/>
            </action>
          </actions>
          <hops>
            <hop>
              <from>Start</from>
              <to>produce the files</to>
              <enabled>Y</enabled>
              <evaluation>Y</evaluation>
              <unconditional>Y</unconditional>
            </hop>
            <hop>
              <from>produce the files</from>
              <to>stage the files</to>
              <enabled>Y</enabled>
              <evaluation>Y</evaluation>
              <unconditional>N</unconditional>
            </hop>
          </hops>
          <notepads/>
          <attributes/>
        </workflow>
      minio.json: |
        {
          "accessKey": "${HOP_MINIO_ACCESS_KEY}",
          "cacheTtlSeconds": "5",
          "description": "Platform Staging store (ADR-0001); credentials late-bound from HOP_MINIO_* system properties (ADR-0002)",
          "endPointHostname": "${HOP_MINIO_ENDPOINT_HOSTNAME}",
          "endPointPort": "${HOP_MINIO_ENDPOINT_PORT}",
          "endPointSecure": false,
          "name": "minio",
          "partSize": "5242880",
          "region": "us-east-1",
          "secretKey": "${HOP_MINIO_SECRET_KEY}"
        }
    commands:
      - mkdir -p /opt/hop/config/projects/default/metadata/MinioConnectionDefinition
      - cp minio.json /opt/hop/config/projects/default/metadata/MinioConnectionDefinition/minio.json
      - WORKDIR="$PWD" && cd /opt/hop && ./hop-run.sh --file="$WORKDIR/positions-feed.hwf" --runconfig=local --level=Basic --parameters=RUN_ID="$RUN_ID",BUSINESS_DATE="$BUSINESS_DATE"
  - id: staging_pull
    type: io.kestra.plugin.minio.Downloads
    endpoint: http://minio:9000
    accessKeyId: "{{ secret('MINIO_ACCESS_KEY') }}"
    secretKeyId: "{{ secret('MINIO_SECRET_KEY') }}"
    bucket: staging
    prefix: "positions-feed/{{ execution.id }}/"
    action: NONE
  - id: delivery_hidden_upload
    type: io.kestra.plugin.core.flow.ForEach
    values: "{{ outputs.staging_pull.objects }}"
    tasks:
      - id: upload_hidden
        type: io.kestra.plugin.fs.sftp.Upload
        host: sftp
        port: "22"
        username: pomeroy
        password: "{{ secret('SFTP_POMEROY') }}"
        from: "{{ fromJson(taskrun.value).uri }}"
        to: "/upload/pomeroy/.{{ fromJson(taskrun.value).key | substringAfterLast('/') }}.part"
  - id: delivery_rename
    type: io.kestra.plugin.core.flow.ForEach
    values: "{{ outputs.staging_pull.objects }}"
    tasks:
      - id: rename_visible
        type: io.kestra.plugin.fs.sftp.Move
        host: sftp
        port: "22"
        username: pomeroy
        password: "{{ secret('SFTP_POMEROY') }}"
        from: "/upload/pomeroy/.{{ fromJson(taskrun.value).key | substringAfterLast('/') }}.part"
        to: "/upload/pomeroy/{{ fromJson(taskrun.value).key | substringAfterLast('/') }}"
triggers:
  - id: schedule
    type: io.kestra.plugin.core.trigger.Schedule
    cron: "30 6 * * *"
    timezone: America/New_York
