e2e/golden/positions-feed.pagination-loop.json
{
  "processors": [
    {
      "autoTerminatedRelationships": [],
      "backoffMechanism": "PENALIZE_FLOWFILE",
      "bulletinLevel": "WARN",
      "bundle": {
        "artifact": "nifi-standard-nar",
        "group": "org.apache.nifi",
        "version": "2.10.0"
      },
      "comments": "",
      "componentType": "PROCESSOR",
      "concurrentlySchedulableTaskCount": 1,
      "executionNode": "ALL",
      "groupIdentifier": "85bf599b-5d36-51af-a25c-6b172012376d",
      "identifier": "af27d692-24bf-501d-ba83-e3779f56248f",
      "maxBackoffPeriod": "10 mins",
      "name": "positions: seed page 1",
      "penaltyDuration": "30 sec",
      "position": {
        "x": 0,
        "y": 0
      },
      "properties": {
        "Batch Size": "1",
        "Character Set": "UTF-8",
        "Custom Text": "seed",
        "Data Format": "Text",
        "File Size": "0B",
        "Mime Type": null,
        "Unique FlowFiles": "false",
        "page": "1"
      },
      "propertyDescriptors": {
        "Batch Size": {
          "displayName": "Batch Size",
          "dynamic": false,
          "identifiesControllerService": false,
          "name": "Batch Size",
          "sensitive": false
        },
        "Character Set": {
          "displayName": "Character Set",
          "dynamic": false,
          "identifiesControllerService": false,
          "name": "Character Set",
          "sensitive": false
        },
        "Custom Text": {
          "displayName": "Custom Text",
          "dynamic": false,
          "identifiesControllerService": false,
          "name": "Custom Text",
          "sensitive": false
        },
        "Data Format": {
          "displayName": "Data Format",
          "dynamic": false,
          "identifiesControllerService": false,
          "name": "Data Format",
          "sensitive": false
        },
        "File Size": {
          "displayName": "File Size",
          "dynamic": false,
          "identifiesControllerService": false,
          "name": "File Size",
          "sensitive": false
        },
        "Mime Type": {
          "displayName": "Mime Type",
          "dynamic": false,
          "identifiesControllerService": false,
          "name": "Mime Type",
          "sensitive": false
        },
        "Unique FlowFiles": {
          "displayName": "Unique FlowFiles",
          "dynamic": false,
          "identifiesControllerService": false,
          "name": "Unique FlowFiles",
          "sensitive": false
        },
        "page": {
          "displayName": "page",
          "dynamic": true,
          "identifiesControllerService": false,
          "name": "page",
          "sensitive": false
        }
      },
      "retriedRelationships": [],
      "retryCount": 10,
      "runDurationMillis": 0,
      "scheduledState": "DISABLED",
      "schedulingPeriod": "1 min",
      "schedulingStrategy": "TIMER_DRIVEN",
      "style": {},
      "type": "org.apache.nifi.processors.standard.GenerateFlowFile",
      "yieldDuration": "1 sec"
    },
    {
      "autoTerminatedRelationships": [
        "Original"
      ],
      "backoffMechanism": "PENALIZE_FLOWFILE",
      "bulletinLevel": "WARN",
      "bundle": {
        "artifact": "nifi-standard-nar",
        "group": "org.apache.nifi",
        "version": "2.10.0"
      },
      "comments": "",
      "componentType": "PROCESSOR",
      "concurrentlySchedulableTaskCount": 1,
      "executionNode": "ALL",
      "groupIdentifier": "85bf599b-5d36-51af-a25c-6b172012376d",
      "identifier": "b68803d1-7965-54ae-b728-68f167bd8027",
      "maxBackoffPeriod": "10 mins",
      "name": "positions: fetch page",
      "penaltyDuration": "30 sec",
      "position": {
        "x": 0,
        "y": 150
      },
      "properties": {
        "Connection Timeout": "5 secs",
        "HTTP Method": "GET",
        "HTTP URL": "http://wiremock:8080/positions?page=${page}&pageSize=50",
        "HTTP/2 Disabled": "False",
        "OAuth2 Access Token Refresh Strategy": "ON_TOKEN_EXPIRATION",
        "Proxy Configuration Service": null,
        "Request Body Enabled": "true",
        "Request Chunked Transfer-Encoding Enabled": "false",
        "Request Content-Encoding": "DISABLED",
        "Request Content-Type": "${mime.type}",
        "Request Date Header Enabled": "True",
        "Request Digest Authentication Enabled": "false",
        "Request Failure Penalization Enabled": "false",
        "Request Header Attributes Pattern": null,
        "Request Multipart Form-Data Filename Enabled": "true",
        "Request Multipart Form-Data Name": null,
        "Request OAuth2 Access Token Provider": null,
        "Request User-Agent": null,
        "Request Username": null,
        "Response Body Attribute Name": null,
        "Response Body Attribute Size": "256",
        "Response Body Ignored": "false",
        "Response Cache Enabled": "false",
        "Response Cache Size": "10MB",
        "Response Cookie Strategy": "DISABLED",
        "Response FlowFile Naming Strategy": "RANDOM",
        "Response Generation Required": "false",
        "Response Header Request Attributes Enabled": "false",
        "Response Header Request Attributes Prefix": null,
        "Response Redirects Enabled": "True",
        "SSL Context Service": null,
        "Socket Idle Connections": "5",
        "Socket Idle Timeout": "5 mins",
        "Socket Read Timeout": "15 secs",
        "Socket Write Timeout": "15 secs"
      },
      "propertyDescriptors": {
        "Connection Timeout": {
          "displayName": "Connection Timeout",
          "dynamic": false,
          "identifiesControllerService": false,
          "name": "Connection Timeout",
          "sensitive": false
        },
        "HTTP Method": {
          "displayName": "HTTP Method",
          "dynamic": false,
          "identifiesControllerService": false,
          "name": "HTTP Method",
          "sensitive": false
        },
        "HTTP URL": {
          "displayName": "HTTP URL",
          "dynamic": false,
          "identifiesControllerService": false,
          "name": "HTTP URL",
          "sensitive": false
        },
        "HTTP/2 Disabled": {
          "displayName": "HTTP/2 Disabled",
          "dynamic": false,
          "identifiesControllerService": false,
          "name": "HTTP/2 Disabled",
          "sensitive": false
        },
        "OAuth2 Access Token Refresh Strategy": {
          "displayName": "OAuth2 Access Token Refresh Strategy",
          "dynamic": false,
          "identifiesControllerService": false,
          "name": "OAuth2 Access Token Refresh Strategy",
          "sensitive": false
        },
        "Proxy Configuration Service": {
          "displayName": "Proxy Configuration Service",
          "dynamic": false,
          "identifiesControllerService": true,
          "name": "Proxy Configuration Service",
          "sensitive": false
        },
        "Request Body Enabled": {
          "displayName": "Request Body Enabled",
          "dynamic": false,
          "identifiesControllerService": false,
          "name": "Request Body Enabled",
          "sensitive": false
        },
        "Request Chunked Transfer-Encoding Enabled": {
          "displayName": "Request Chunked Transfer-Encoding Enabled",
          "dynamic": false,
          "identifiesControllerService": false,
          "name": "Request Chunked Transfer-Encoding Enabled",
          "sensitive": false
        },
        "Request Content-Encoding": {
          "displayName": "Request Content-Encoding",
          "dynamic": false,
          "identifiesControllerService": false,
          "name": "Request Content-Encoding",
          "sensitive": false
        },
        "Request Content-Type": {
          "displayName": "Request Content-Type",
          "dynamic": false,
          "identifiesControllerService": false,
          "name": "Request Content-Type",
          "sensitive": false
        },
        "Request Date Header Enabled": {
          "displayName": "Request Date Header Enabled",
          "dynamic": false,
          "identifiesControllerService": false,
          "name": "Request Date Header Enabled",
          "sensitive": false
        },
        "Request Digest Authentication Enabled": {
          "displayName": "Request Digest Authentication Enabled",
          "dynamic": false,
          "identifiesControllerService": false,
          "name": "Request Digest Authentication Enabled",
          "sensitive": false
        },
        "Request Failure Penalization Enabled": {
          "displayName": "Request Failure Penalization Enabled",
          "dynamic": false,
          "identifiesControllerService": false,
          "name": "Request Failure Penalization Enabled",
          "sensitive": false
        },
        "Request Header Attributes Pattern": {
          "displayName": "Request Header Attributes Pattern",
          "dynamic": false,
          "identifiesControllerService": false,
          "name": "Request Header Attributes Pattern",
          "sensitive": false
        },
        "Request Multipart Form-Data Filename Enabled": {
          "displayName": "Request Multipart Form-Data Filename Enabled",
          "dynamic": false,
          "identifiesControllerService": false,
          "name": "Request Multipart Form-Data Filename Enabled",
          "sensitive": false
        },
        "Request Multipart Form-Data Name": {
          "displayName": "Request Multipart Form-Data Name",
          "dynamic": false,
          "identifiesControllerService": false,
          "name": "Request Multipart Form-Data Name",
          "sensitive": false
        },
        "Request OAuth2 Access Token Provider": {
          "displayName": "Request OAuth2 Access Token Provider",
          "dynamic": false,
          "identifiesControllerService": true,
          "name": "Request OAuth2 Access Token Provider",
          "sensitive": false
        },
        "Request Password": {
          "displayName": "Request Password",
          "dynamic": false,
          "identifiesControllerService": false,
          "name": "Request Password",
          "sensitive": true
        },
        "Request User-Agent": {
          "displayName": "Request User-Agent",
          "dynamic": false,
          "identifiesControllerService": false,
          "name": "Request User-Agent",
          "sensitive": false
        },
        "Request Username": {
          "displayName": "Request Username",
          "dynamic": false,
          "identifiesControllerService": false,
          "name": "Request Username",
          "sensitive": false
        },
        "Response Body Attribute Name": {
          "displayName": "Response Body Attribute Name",
          "dynamic": false,
          "identifiesControllerService": false,
          "name": "Response Body Attribute Name",
          "sensitive": false
        },
        "Response Body Attribute Size": {
          "displayName": "Response Body Attribute Size",
          "dynamic": false,
          "identifiesControllerService": false,
          "name": "Response Body Attribute Size",
          "sensitive": false
        },
        "Response Body Ignored": {
          "displayName": "Response Body Ignored",
          "dynamic": false,
          "identifiesControllerService": false,
          "name": "Response Body Ignored",
          "sensitive": false
        },
        "Response Cache Enabled": {
          "displayName": "Response Cache Enabled",
          "dynamic": false,
          "identifiesControllerService": false,
          "name": "Response Cache Enabled",
          "sensitive": false
        },
        "Response Cache Size": {
          "displayName": "Response Cache Size",
          "dynamic": false,
          "identifiesControllerService": false,
          "name": "Response Cache Size",
          "sensitive": false
        },
        "Response Cookie Strategy": {
          "displayName": "Response Cookie Strategy",
          "dynamic": false,
          "identifiesControllerService": false,
          "name": "Response Cookie Strategy",
          "sensitive": false
        },
        "Response FlowFile Naming Strategy": {
          "displayName": "Response FlowFile Naming Strategy",
          "dynamic": false,
          "identifiesControllerService": false,
          "name": "Response FlowFile Naming Strategy",
          "sensitive": false
        },
        "Response Generation Required": {
          "displayName": "Response Generation Required",
          "dynamic": false,
          "identifiesControllerService": false,
          "name": "Response Generation Required",
          "sensitive": false
        },
        "Response Header Request Attributes Enabled": {
          "displayName": "Response Header Request Attributes Enabled",
          "dynamic": false,
          "identifiesControllerService": false,
          "name": "Response Header Request Attributes Enabled",
          "sensitive": false
        },
        "Response Header Request Attributes Prefix": {
          "displayName": "Response Header Request Attributes Prefix",
          "dynamic": false,
          "identifiesControllerService": false,
          "name": "Response Header Request Attributes Prefix",
          "sensitive": false
        },
        "Response Redirects Enabled": {
          "displayName": "Response Redirects Enabled",
          "dynamic": false,
          "identifiesControllerService": false,
          "name": "Response Redirects Enabled",
          "sensitive": false
        },
        "SSL Context Service": {
          "displayName": "SSL Context Service",
          "dynamic": false,
          "identifiesControllerService": true,
          "name": "SSL Context Service",
          "sensitive": false
        },
        "Socket Idle Connections": {
          "displayName": "Socket Idle Connections",
          "dynamic": false,
          "identifiesControllerService": false,
          "name": "Socket Idle Connections",
          "sensitive": false
        },
        "Socket Idle Timeout": {
          "displayName": "Socket Idle Timeout",
          "dynamic": false,
          "identifiesControllerService": false,
          "name": "Socket Idle Timeout",
          "sensitive": false
        },
        "Socket Read Timeout": {
          "displayName": "Socket Read Timeout",
          "dynamic": false,
          "identifiesControllerService": false,
          "name": "Socket Read Timeout",
          "sensitive": false
        },
        "Socket Write Timeout": {
          "displayName": "Socket Write Timeout",
          "dynamic": false,
          "identifiesControllerService": false,
          "name": "Socket Write Timeout",
          "sensitive": false
        }
      },
      "retriedRelationships": [],
      "retryCount": 10,
      "runDurationMillis": 0,
      "scheduledState": "ENABLED",
      "schedulingPeriod": "0 sec",
      "schedulingStrategy": "TIMER_DRIVEN",
      "style": {},
      "type": "org.apache.nifi.processors.standard.InvokeHTTP",
      "yieldDuration": "1 sec"
    },
    {
      "autoTerminatedRelationships": [],
      "backoffMechanism": "PENALIZE_FLOWFILE",
      "bulletinLevel": "WARN",
      "bundle": {
        "artifact": "nifi-standard-nar",
        "group": "org.apache.nifi",
        "version": "2.10.0"
      },
      "comments": "",
      "componentType": "PROCESSOR",
      "concurrentlySchedulableTaskCount": 1,
      "executionNode": "ALL",
      "groupIdentifier": "85bf599b-5d36-51af-a25c-6b172012376d",
      "identifier": "f99eeb2a-ecf7-5d72-881b-ed6094716338",
      "maxBackoffPeriod": "10 mins",
      "name": "positions: read totalPages",
      "penaltyDuration": "30 sec",
      "position": {
        "x": 0,
        "y": 300
      },
      "properties": {
        "Destination": "flowfile-attribute",
        "Max String Length": "20 MB",
        "Null Value Representation": "empty string",
        "Path Not Found Behavior": "ignore",
        "Return Type": "auto-detect",
        "totalPages": "$.totalPages"
      },
      "propertyDescriptors": {
        "Destination": {
          "displayName": "Destination",
          "dynamic": false,
          "identifiesControllerService": false,
          "name": "Destination",
          "sensitive": false
        },
        "Max String Length": {
          "displayName": "Max String Length",
          "dynamic": false,
          "identifiesControllerService": false,
          "name": "Max String Length",
          "sensitive": false
        },
        "Null Value Representation": {
          "displayName": "Null Value Representation",
          "dynamic": false,
          "identifiesControllerService": false,
          "name": "Null Value Representation",
          "sensitive": false
        },
        "Path Not Found Behavior": {
          "displayName": "Path Not Found Behavior",
          "dynamic": false,
          "identifiesControllerService": false,
          "name": "Path Not Found Behavior",
          "sensitive": false
        },
        "Return Type": {
          "displayName": "Return Type",
          "dynamic": false,
          "identifiesControllerService": false,
          "name": "Return Type",
          "sensitive": false
        },
        "totalPages": {
          "displayName": "totalPages",
          "dynamic": true,
          "identifiesControllerService": false,
          "name": "totalPages",
          "sensitive": false
        }
      },
      "retriedRelationships": [],
      "retryCount": 10,
      "runDurationMillis": 0,
      "scheduledState": "ENABLED",
      "schedulingPeriod": "0 sec",
      "schedulingStrategy": "TIMER_DRIVEN",
      "style": {},
      "type": "org.apache.nifi.processors.standard.EvaluateJsonPath",
      "yieldDuration": "1 sec"
    },
    {
      "autoTerminatedRelationships": [],
      "backoffMechanism": "PENALIZE_FLOWFILE",
      "bulletinLevel": "WARN",
      "bundle": {
        "artifact": "nifi-update-attribute-nar",
        "group": "org.apache.nifi",
        "version": "2.10.0"
      },
      "comments": "",
      "componentType": "PROCESSOR",
      "concurrentlySchedulableTaskCount": 1,
      "executionNode": "ALL",
      "groupIdentifier": "85bf599b-5d36-51af-a25c-6b172012376d",
      "identifier": "6a84f042-051c-5349-8947-8e19d07bef33",
      "maxBackoffPeriod": "10 mins",
      "name": "positions: fragment attributes",
      "penaltyDuration": "30 sec",
      "position": {
        "x": 0,
        "y": 450
      },
      "properties": {
        "Cache Value Lookup Cache Size": "100",
        "Delete Attributes Expression": null,
        "Stateful Variables Initial Value": null,
        "Store State": "Do not store state",
        "fragment.count": "${totalPages}",
        "fragment.identifier": "positions",
        "fragment.index": "${page}"
      },
      "propertyDescriptors": {
        "Cache Value Lookup Cache Size": {
          "displayName": "Cache Value Lookup Cache Size",
          "dynamic": false,
          "identifiesControllerService": false,
          "name": "Cache Value Lookup Cache Size",
          "sensitive": false
        },
        "Delete Attributes Expression": {
          "displayName": "Delete Attributes Expression",
          "dynamic": false,
          "identifiesControllerService": false,
          "name": "Delete Attributes Expression",
          "sensitive": false
        },
        "Stateful Variables Initial Value": {
          "displayName": "Stateful Variables Initial Value",
          "dynamic": false,
          "identifiesControllerService": false,
          "name": "Stateful Variables Initial Value",
          "sensitive": false
        },
        "Store State": {
          "displayName": "Store State",
          "dynamic": false,
          "identifiesControllerService": false,
          "name": "Store State",
          "sensitive": false
        },
        "fragment.count": {
          "displayName": "fragment.count",
          "dynamic": true,
          "identifiesControllerService": false,
          "name": "fragment.count",
          "sensitive": false
        },
        "fragment.identifier": {
          "displayName": "fragment.identifier",
          "dynamic": true,
          "identifiesControllerService": false,
          "name": "fragment.identifier",
          "sensitive": false
        },
        "fragment.index": {
          "displayName": "fragment.index",
          "dynamic": true,
          "identifiesControllerService": false,
          "name": "fragment.index",
          "sensitive": false
        }
      },
      "retriedRelationships": [],
      "retryCount": 10,
      "runDurationMillis": 25,
      "scheduledState": "ENABLED",
      "schedulingPeriod": "0 sec",
      "schedulingStrategy": "TIMER_DRIVEN",
      "style": {},
      "type": "org.apache.nifi.processors.attributes.UpdateAttribute",
      "yieldDuration": "1 sec"
    },
    {
      "autoTerminatedRelationships": [
        "unmatched"
      ],
      "backoffMechanism": "PENALIZE_FLOWFILE",
      "bulletinLevel": "WARN",
      "bundle": {
        "artifact": "nifi-standard-nar",
        "group": "org.apache.nifi",
        "version": "2.10.0"
      },
      "comments": "",
      "componentType": "PROCESSOR",
      "concurrentlySchedulableTaskCount": 1,
      "executionNode": "ALL",
      "groupIdentifier": "85bf599b-5d36-51af-a25c-6b172012376d",
      "identifier": "e440851c-e1fd-505a-a130-1fd690d946df",
      "maxBackoffPeriod": "10 mins",
      "name": "positions: more pages?",
      "penaltyDuration": "30 sec",
      "position": {
        "x": 0,
        "y": 600
      },
      "properties": {
        "Routing Strategy": "Route to Property name",
        "next": "${page:lt(${totalPages})}"
      },
      "propertyDescriptors": {
        "Routing Strategy": {
          "displayName": "Routing Strategy",
          "dynamic": false,
          "identifiesControllerService": false,
          "name": "Routing Strategy",
          "sensitive": false
        },
        "next": {
          "displayName": "next",
          "dynamic": true,
          "identifiesControllerService": false,
          "name": "next",
          "sensitive": false
        }
      },
      "retriedRelationships": [],
      "retryCount": 10,
      "runDurationMillis": 25,
      "scheduledState": "ENABLED",
      "schedulingPeriod": "0 sec",
      "schedulingStrategy": "TIMER_DRIVEN",
      "style": {},
      "type": "org.apache.nifi.processors.standard.RouteOnAttribute",
      "yieldDuration": "1 sec"
    },
    {
      "autoTerminatedRelationships": [],
      "backoffMechanism": "PENALIZE_FLOWFILE",
      "bulletinLevel": "WARN",
      "bundle": {
        "artifact": "nifi-update-attribute-nar",
        "group": "org.apache.nifi",
        "version": "2.10.0"
      },
      "comments": "",
      "componentType": "PROCESSOR",
      "concurrentlySchedulableTaskCount": 1,
      "executionNode": "ALL",
      "groupIdentifier": "85bf599b-5d36-51af-a25c-6b172012376d",
      "identifier": "a339dec0-8403-5489-aa75-f39dd570c246",
      "maxBackoffPeriod": "10 mins",
      "name": "positions: next cursor",
      "penaltyDuration": "30 sec",
      "position": {
        "x": 220,
        "y": 150
      },
      "properties": {
        "Cache Value Lookup Cache Size": "100",
        "Delete Attributes Expression": null,
        "Stateful Variables Initial Value": null,
        "Store State": "Do not store state",
        "page": "${page:plus(1)}"
      },
      "propertyDescriptors": {
        "Cache Value Lookup Cache Size": {
          "displayName": "Cache Value Lookup Cache Size",
          "dynamic": false,
          "identifiesControllerService": false,
          "name": "Cache Value Lookup Cache Size",
          "sensitive": false
        },
        "Delete Attributes Expression": {
          "displayName": "Delete Attributes Expression",
          "dynamic": false,
          "identifiesControllerService": false,
          "name": "Delete Attributes Expression",
          "sensitive": false
        },
        "Stateful Variables Initial Value": {
          "displayName": "Stateful Variables Initial Value",
          "dynamic": false,
          "identifiesControllerService": false,
          "name": "Stateful Variables Initial Value",
          "sensitive": false
        },
        "Store State": {
          "displayName": "Store State",
          "dynamic": false,
          "identifiesControllerService": false,
          "name": "Store State",
          "sensitive": false
        },
        "page": {
          "displayName": "page",
          "dynamic": true,
          "identifiesControllerService": false,
          "name": "page",
          "sensitive": false
        }
      },
      "retriedRelationships": [],
      "retryCount": 10,
      "runDurationMillis": 25,
      "scheduledState": "ENABLED",
      "schedulingPeriod": "0 sec",
      "schedulingStrategy": "TIMER_DRIVEN",
      "style": {},
      "type": "org.apache.nifi.processors.attributes.UpdateAttribute",
      "yieldDuration": "1 sec"
    },
    {
      "autoTerminatedRelationships": [
        "original"
      ],
      "backoffMechanism": "PENALIZE_FLOWFILE",
      "bulletinLevel": "WARN",
      "bundle": {
        "artifact": "nifi-standard-nar",
        "group": "org.apache.nifi",
        "version": "2.10.0"
      },
      "comments": "",
      "componentType": "PROCESSOR",
      "concurrentlySchedulableTaskCount": 1,
      "executionNode": "ALL",
      "groupIdentifier": "85bf599b-5d36-51af-a25c-6b172012376d",
      "identifier": "221a2d4f-c112-5931-90c6-1bc2ce4dd2fd",
      "maxBackoffPeriod": "10 mins",
      "name": "positions: defragment pages",
      "penaltyDuration": "30 sec",
      "position": {
        "x": 0,
        "y": 750
      },
      "properties": {
        "Attribute Strategy": "Keep Only Common Attributes",
        "Correlation Attribute Name": null,
        "Max Bin Age": null,
        "Maximum Bin Size": null,
        "Maximum Number of Bins": "10",
        "Maximum Number of Records": "10000",
        "Merge Strategy": "Defragment",
        "Minimum Bin Size": "0 B",
        "Minimum Number of Records": "1",
        "Record Reader": "31c0a7b7-5455-5b74-ae69-d85a057a14eb",
        "Record Writer": "52be8e6a-2f09-5b31-b259-3e68c4629532"
      },
      "propertyDescriptors": {
        "Attribute Strategy": {
          "displayName": "Attribute Strategy",
          "dynamic": false,
          "identifiesControllerService": false,
          "name": "Attribute Strategy",
          "sensitive": false
        },
        "Correlation Attribute Name": {
          "displayName": "Correlation Attribute Name",
          "dynamic": false,
          "identifiesControllerService": false,
          "name": "Correlation Attribute Name",
          "sensitive": false
        },
        "Max Bin Age": {
          "displayName": "Max Bin Age",
          "dynamic": false,
          "identifiesControllerService": false,
          "name": "Max Bin Age",
          "sensitive": false
        },
        "Maximum Bin Size": {
          "displayName": "Maximum Bin Size",
          "dynamic": false,
          "identifiesControllerService": false,
          "name": "Maximum Bin Size",
          "sensitive": false
        },
        "Maximum Number of Bins": {
          "displayName": "Maximum Number of Bins",
          "dynamic": false,
          "identifiesControllerService": false,
          "name": "Maximum Number of Bins",
          "sensitive": false
        },
        "Maximum Number of Records": {
          "displayName": "Maximum Number of Records",
          "dynamic": false,
          "identifiesControllerService": false,
          "name": "Maximum Number of Records",
          "sensitive": false
        },
        "Merge Strategy": {
          "displayName": "Merge Strategy",
          "dynamic": false,
          "identifiesControllerService": false,
          "name": "Merge Strategy",
          "sensitive": false
        },
        "Minimum Bin Size": {
          "displayName": "Minimum Bin Size",
          "dynamic": false,
          "identifiesControllerService": false,
          "name": "Minimum Bin Size",
          "sensitive": false
        },
        "Minimum Number of Records": {
          "displayName": "Minimum Number of Records",
          "dynamic": false,
          "identifiesControllerService": false,
          "name": "Minimum Number of Records",
          "sensitive": false
        },
        "Record Reader": {
          "displayName": "Record Reader",
          "dynamic": false,
          "identifiesControllerService": true,
          "name": "Record Reader",
          "sensitive": false
        },
        "Record Writer": {
          "displayName": "Record Writer",
          "dynamic": false,
          "identifiesControllerService": true,
          "name": "Record Writer",
          "sensitive": false
        }
      },
      "retriedRelationships": [],
      "retryCount": 10,
      "runDurationMillis": 0,
      "scheduledState": "ENABLED",
      "schedulingPeriod": "0 sec",
      "schedulingStrategy": "TIMER_DRIVEN",
      "style": {},
      "type": "org.apache.nifi.processors.standard.MergeRecord",
      "yieldDuration": "1 sec"
    }
  ],
  "connections": [
    {
      "backPressureDataSizeThreshold": "1 GB",
      "backPressureObjectThreshold": 10000,
      "bends": [],
      "componentType": "CONNECTION",
      "destination": {
        "comments": "",
        "groupId": "85bf599b-5d36-51af-a25c-6b172012376d",
        "id": "b68803d1-7965-54ae-b728-68f167bd8027",
        "name": "positions: fetch page",
        "type": "PROCESSOR"
      },
      "flowFileExpiration": "0 sec",
      "groupIdentifier": "85bf599b-5d36-51af-a25c-6b172012376d",
      "identifier": "5cfc126b-df51-5cb7-81da-4588ce461f65",
      "labelIndex": 1,
      "loadBalanceCompression": "DO_NOT_COMPRESS",
      "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
      "name": "positions: seed page 1 -> positions: fetch page",
      "prioritizers": [],
      "selectedRelationships": [
        "success"
      ],
      "source": {
        "comments": "",
        "groupId": "85bf599b-5d36-51af-a25c-6b172012376d",
        "id": "af27d692-24bf-501d-ba83-e3779f56248f",
        "name": "positions: seed page 1",
        "type": "PROCESSOR"
      },
      "zIndex": 0
    },
    {
      "backPressureDataSizeThreshold": "1 GB",
      "backPressureObjectThreshold": 10000,
      "bends": [],
      "componentType": "CONNECTION",
      "destination": {
        "comments": "",
        "groupId": "85bf599b-5d36-51af-a25c-6b172012376d",
        "id": "f99eeb2a-ecf7-5d72-881b-ed6094716338",
        "name": "positions: read totalPages",
        "type": "PROCESSOR"
      },
      "flowFileExpiration": "0 sec",
      "groupIdentifier": "85bf599b-5d36-51af-a25c-6b172012376d",
      "identifier": "9c5ee49f-8abf-55ef-bd13-f084ad353e64",
      "labelIndex": 1,
      "loadBalanceCompression": "DO_NOT_COMPRESS",
      "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
      "name": "positions: fetch page -> positions: read totalPages",
      "prioritizers": [],
      "selectedRelationships": [
        "Response"
      ],
      "source": {
        "comments": "",
        "groupId": "85bf599b-5d36-51af-a25c-6b172012376d",
        "id": "b68803d1-7965-54ae-b728-68f167bd8027",
        "name": "positions: fetch page",
        "type": "PROCESSOR"
      },
      "zIndex": 0
    },
    {
      "backPressureDataSizeThreshold": "1 GB",
      "backPressureObjectThreshold": 10000,
      "bends": [],
      "componentType": "CONNECTION",
      "destination": {
        "comments": "",
        "groupId": "85bf599b-5d36-51af-a25c-6b172012376d",
        "id": "6a84f042-051c-5349-8947-8e19d07bef33",
        "name": "positions: fragment attributes",
        "type": "PROCESSOR"
      },
      "flowFileExpiration": "0 sec",
      "groupIdentifier": "85bf599b-5d36-51af-a25c-6b172012376d",
      "identifier": "d8b13bcc-ec4a-5f40-9f61-95ae40d94606",
      "labelIndex": 1,
      "loadBalanceCompression": "DO_NOT_COMPRESS",
      "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
      "name": "positions: read totalPages -> positions: fragment attributes",
      "prioritizers": [],
      "selectedRelationships": [
        "matched"
      ],
      "source": {
        "comments": "",
        "groupId": "85bf599b-5d36-51af-a25c-6b172012376d",
        "id": "f99eeb2a-ecf7-5d72-881b-ed6094716338",
        "name": "positions: read totalPages",
        "type": "PROCESSOR"
      },
      "zIndex": 0
    },
    {
      "backPressureDataSizeThreshold": "1 GB",
      "backPressureObjectThreshold": 10000,
      "bends": [],
      "componentType": "CONNECTION",
      "destination": {
        "comments": "",
        "groupId": "85bf599b-5d36-51af-a25c-6b172012376d",
        "id": "221a2d4f-c112-5931-90c6-1bc2ce4dd2fd",
        "name": "positions: defragment pages",
        "type": "PROCESSOR"
      },
      "flowFileExpiration": "0 sec",
      "groupIdentifier": "85bf599b-5d36-51af-a25c-6b172012376d",
      "identifier": "5492f3e0-ae79-530d-8458-f362de4efacf",
      "labelIndex": 1,
      "loadBalanceCompression": "DO_NOT_COMPRESS",
      "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
      "name": "positions: fragment attributes -> positions: defragment pages",
      "prioritizers": [],
      "selectedRelationships": [
        "success"
      ],
      "source": {
        "comments": "",
        "groupId": "85bf599b-5d36-51af-a25c-6b172012376d",
        "id": "6a84f042-051c-5349-8947-8e19d07bef33",
        "name": "positions: fragment attributes",
        "type": "PROCESSOR"
      },
      "zIndex": 0
    },
    {
      "backPressureDataSizeThreshold": "1 GB",
      "backPressureObjectThreshold": 10000,
      "bends": [],
      "componentType": "CONNECTION",
      "destination": {
        "comments": "",
        "groupId": "85bf599b-5d36-51af-a25c-6b172012376d",
        "id": "e440851c-e1fd-505a-a130-1fd690d946df",
        "name": "positions: more pages?",
        "type": "PROCESSOR"
      },
      "flowFileExpiration": "0 sec",
      "groupIdentifier": "85bf599b-5d36-51af-a25c-6b172012376d",
      "identifier": "4d7b6983-9e48-533e-8dba-aad94db0b17a",
      "labelIndex": 1,
      "loadBalanceCompression": "DO_NOT_COMPRESS",
      "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
      "name": "positions: fragment attributes -> positions: more pages?",
      "prioritizers": [],
      "selectedRelationships": [
        "success"
      ],
      "source": {
        "comments": "",
        "groupId": "85bf599b-5d36-51af-a25c-6b172012376d",
        "id": "6a84f042-051c-5349-8947-8e19d07bef33",
        "name": "positions: fragment attributes",
        "type": "PROCESSOR"
      },
      "zIndex": 0
    },
    {
      "backPressureDataSizeThreshold": "1 GB",
      "backPressureObjectThreshold": 10000,
      "bends": [],
      "componentType": "CONNECTION",
      "destination": {
        "comments": "",
        "groupId": "85bf599b-5d36-51af-a25c-6b172012376d",
        "id": "a339dec0-8403-5489-aa75-f39dd570c246",
        "name": "positions: next cursor",
        "type": "PROCESSOR"
      },
      "flowFileExpiration": "0 sec",
      "groupIdentifier": "85bf599b-5d36-51af-a25c-6b172012376d",
      "identifier": "f84ccf12-1bd4-54fb-bc55-5b87abe9327c",
      "labelIndex": 1,
      "loadBalanceCompression": "DO_NOT_COMPRESS",
      "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
      "name": "positions: more pages? -> positions: next cursor",
      "prioritizers": [],
      "selectedRelationships": [
        "next"
      ],
      "source": {
        "comments": "",
        "groupId": "85bf599b-5d36-51af-a25c-6b172012376d",
        "id": "e440851c-e1fd-505a-a130-1fd690d946df",
        "name": "positions: more pages?",
        "type": "PROCESSOR"
      },
      "zIndex": 0
    },
    {
      "backPressureDataSizeThreshold": "1 GB",
      "backPressureObjectThreshold": 10000,
      "bends": [],
      "componentType": "CONNECTION",
      "destination": {
        "comments": "",
        "groupId": "85bf599b-5d36-51af-a25c-6b172012376d",
        "id": "b68803d1-7965-54ae-b728-68f167bd8027",
        "name": "positions: fetch page",
        "type": "PROCESSOR"
      },
      "flowFileExpiration": "0 sec",
      "groupIdentifier": "85bf599b-5d36-51af-a25c-6b172012376d",
      "identifier": "6c471879-f3a2-55a1-ba05-f3f54fd319e4",
      "labelIndex": 1,
      "loadBalanceCompression": "DO_NOT_COMPRESS",
      "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
      "name": "positions: next cursor -> positions: fetch page",
      "prioritizers": [],
      "selectedRelationships": [
        "success"
      ],
      "source": {
        "comments": "",
        "groupId": "85bf599b-5d36-51af-a25c-6b172012376d",
        "id": "a339dec0-8403-5489-aa75-f39dd570c246",
        "name": "positions: next cursor",
        "type": "PROCESSOR"
      },
      "zIndex": 0
    }
  ]
}
